@defer () {
<app-header></app-header>
<app-breadcrumb></app-breadcrumb>
<div class="layout-contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12">
        <div class="contact">
          <div class="des_foo">
            <span class="fw-bold primary-color">Blossom</span> - Nền tảng bán
            hoa trực tuyến, nơi hội tụ những bông hoa tươi thắm và đẳng cấp,
            phục vụ cho các dịp đặc biệt sau sự kiện.<br />
            <span>Giá ưu đãi - Giao hàng nhanh chóng.</span>
          </div>

          <div class="info-contact">
            <div class="group-address">
              <ul>
                <li>
                  <div class="icon">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 384 512"
                    >
                      <path
                        d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 256c-35.3 0-64-28.7-64-64s28.7-64 64-64s64 28.7 64 64s-28.7 64-64 64z"
                      ></path>
                    </svg>
                  </div>
                  <div class="info">
                    <b>Địa chỉ</b>
                    <span>
                      Đường D1, Long Thạnh Mỹ, Thành Phố Thủ Đức, Hồ Chí Minh
                    </span>
                  </div>
                </li>
                <li>
                  <div class="icon">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 512 512"
                    >
                      <path
                        d="M256 512C114.6 512 0 397.4 0 256S114.6 0 256 0S512 114.6 512 256s-114.6 256-256 256zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"
                      ></path>
                    </svg>
                  </div>
                  <div class="info">
                    <b>Thời gian làm việc</b>
                    <span> 8h - 23h từ thứ 2 đến chủ nhật </span>
                  </div>
                </li>
                <li>
                  <div class="icon">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 512 512"
                    >
                      <path
                        d="M280 0C408.1 0 512 103.9 512 232c0 13.3-10.7 24-24 24s-24-10.7-24-24c0-101.6-82.4-184-184-184c-13.3 0-24-10.7-24-24s10.7-24 24-24zm8 192a32 32 0 1 1 0 64 32 32 0 1 1 0-64zm-32-72c0-13.3 10.7-24 24-24c75.1 0 136 60.9 136 136c0 13.3-10.7 24-24 24s-24-10.7-24-24c0-48.6-39.4-88-88-88c-13.3 0-24-10.7-24-24zM117.5 1.4c19.4-5.3 39.7 4.6 47.4 23.2l40 96c6.8 16.3 2.1 35.2-11.6 46.3L144 207.3c33.3 70.4 90.3 127.4 160.7 160.7L345 318.7c11.2-13.7 30-18.4 46.3-11.6l96 40c18.6 7.7 28.5 28 23.2 47.4l-24 88C481.8 499.9 466 512 448 512C200.6 512 0 311.4 0 64C0 46 12.1 30.2 29.5 25.4l88-24z"
                      ></path>
                    </svg>
                  </div>
                  <div class="info">
                    <b>Hotline</b>
                    <span>1900 0392</span>
                  </div>
                </li>
                <li>
                  <div class="icon">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 512 512"
                    >
                      <path
                        d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"
                      ></path>
                    </svg>
                  </div>
                  <div class="info">
                    <b>Email</b>
                    <span>blossom&#64;gmail.com</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="form-contact">
          <h4>LIÊN HỆ VỚI CHÚNG TÔI</h4>
          <span class="content-form mb-3">
            Nếu bạn có thắc mắc gì, có thể gửi yêu cầu cho chúng tôi, và chúng
            tôi sẽ liên lạc lại với bạn sớm nhất có thể .
          </span>
          <div id="pagelogin">
            <form
              id="contact"
              [formGroup]="contactForm"
              form
              accept-charset="UTF-8"
              (submit)="sendContact()"
            >
              <div class="group_contact">
                <mat-form-field class="w-100 fs-16 mb-2" appearance="outline">
                  <mat-label>Họ và tên</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="name"
                    [class.is-invalid]="
                      contactForm.get('name')!.invalid &&
                      contactForm.get('name')!.touched
                    "
                  />
                  @if(contactForm.get('name')!.invalid &&
                  contactForm.get('name')!.touched) {
                  <mat-error class="fs-12">
                    Họ và tên không được để trống
                  </mat-error>
                  }
                </mat-form-field>
                <mat-form-field class="w-100 fs-16 mb-2" appearance="outline">
                  <mat-label>Email</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="email"
                    [class.is-invalid]="
                      contactForm.get('email')!.invalid &&
                      contactForm.get('email')!.touched
                    "
                  />
                  @if(contactForm.get('email')?.hasError('required')) {
                  <mat-error class="fs-12">
                    Email không được để trống
                  </mat-error>
                  } @if (contactForm.get('email')?.hasError('email')) {
                  <mat-error class="fs-12">
                    Email không đúng định dạng
                  </mat-error>
                  }
                </mat-form-field>
                <mat-form-field class="w-100 fs-16 mb-2" appearance="outline">
                  <mat-label>Nhập số điện thoại</mat-label>

                  <input
                    matInput
                    type="tel"
                    formControlName="phone"
                    [class.is-invalid]="
                      contactForm.get('phone')!.invalid &&
                      contactForm.get('phone')!.touched
                    "
                  />

                  @if (contactForm.get('phone')?.hasError('pattern')) {
                  <mat-error class="fs-12"
                    >Số điện thoại phải có đúng 10 chữ số</mat-error
                  >
                  } @if (contactForm.get('phone')?.hasError('required')) {
                  <mat-error class="fs-12"
                    >Số điện thoại không được để trống</mat-error
                  >
                  }
                </mat-form-field>
                <mat-form-field class="w-100 fs-16 mb-2" appearance="outline">
                  <mat-label>Nội dung</mat-label>
                  <textarea
                    matInput
                    rows="3"
                    formControlName="content"
                    [class.is-invalid]="
                      contactForm.get('content')?.invalid &&
                      contactForm.get('content')?.touched
                    "
                  ></textarea>
                  @if (contactForm.get('content')?.hasError('required')) {
                  <mat-error class="fs-12"
                    >Nội dung không được để trống</mat-error
                  >
                  }
                </mat-form-field>
                <button
                  mat-raised-button
                  type="button"
                  class="btn text-white"
                  style="background-color: var(--bs-primary)"
                  (click)="sendContact()"
                >
                  Gửi thông tin
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div id="contact_map" class="map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.6099415305143!2d106.80730807570384!3d10.841132857995563!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752731176b07b1%3A0xb752b24b379bae5e!2sFPT%20University%20HCMC!5e0!3m2!1sen!2s!4v1720984010867!5m2!1sen!2s"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
}@loading {
<div class="preloader-wrapper">
  <div class="preloader"></div>
</div>
}
