@defer () {
<app-header></app-header>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-6 order">
        <img
          src="assets/images/forgot-password.jpg"
          alt="Image"
          class="img-fluid"
        />
      </div>
      <div class="col-md-6 contents mt-3">
        <div class="row justify-content-center">
          <div class="col-md-9">
            <div class="mb-4">
              <h3>
                {{ "ForgotPassword" | translate }}
              </h3>
              <p class="my-3">
                {{ "ForgotPasswordHint" | translate }}
              </p>
            </div>
            <form [formGroup]="forgotPasswordForm">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label style="font-size: 14px">Email</mat-label>
                <input
                  matInput
                  type="email"
                  required
                  formControlName="email"
                  [class.is-invalid]="
                    forgotPasswordForm.get('email')?.invalid &&
                    forgotPasswordForm.get('email')?.touched
                  "
                />
                @if(forgotPasswordForm.get('email')?.hasError('required')) {
                <mat-error style="font-size: 12px">
                  {{ "Sign.EmailRequired" | translate }}
                </mat-error>
                } @if (forgotPasswordForm.get('email')?.hasError('email')) {
                <mat-error style="font-size: 12px">
                  {{ "Sign.EmailInvalid" | translate }}
                </mat-error>
                }
              </mat-form-field>
              <button
                (click)="btnForgotPassword()"
                mat-raised-button
                color="primary"
                class="w-100 p-20"
              >
                {{ "SendEmailBtn" | translate }}
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
}@loading {
<div class="preloader-wrapper">
  <div class="preloader"></div>
</div>
}
