@defer () {
<app-header></app-header>
<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="card shadow">
          <div class="card-body">
            <h2 class="text-center mb-4" style="color: #e46a76">
              Quên Mật Khẩu
            </h2>
            <div class="mb-3">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Email</mat-label>
                <input
                  matInput
                  type="email"
                  id="email"
                  formControlName="email"
                />
              </mat-form-field>
              <div
                class="example-button-row d-flex justify-content-center align-items-center"
              >
                <button
                  type="submit"
                  color="primary"
                  class="btn"
                  style="padding: 20px"
                  mat-raised-button
                >
                  Gửi yêu cầu
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<app-footer></app-footer>
}@loading {
<div class="preloader-wrapper">
  <div class="preloader"></div>
</div>
}
