@defer () {
<app-header></app-header>
<div class="untree_co-section before-footer-section section-cart">
  @if (listCartItem.length > 0) {
  <div class="container">
    <div class="row mb-5">
      <form class="col-md-12">
        <div class="site-blocks-table">
          <table class="table">
            <thead class="mb-2">
              <tr>
                <th class="product-thumbnail">
                  {{ "Cart.Image" | translate }}
                </th>
                <th class="product-name">{{ "Cart.Name" | translate }}</th>
                <th class="product-price">{{ "Cart.Price" | translate }}</th>
                <th class="product-quantity">
                  {{ "Cart.Quantity" | translate }}
                </th>
                <th class="product-total">{{ "Cart.Total" | translate }}</th>
                <th class="product-remove">{{ "Cart.Remove" | translate }}</th>
              </tr>
            </thead>
            <tbody>
              @for (item of listCartItem; track $index) {
              <tr>
                <td class="product-thumbnail">
                  <img width="70" [src]="item.flowerImageUrl" alt="Image" />
                </td>
                <td class="product-name">
                  <p class="text-dark">{{ item.flowerName }}</p>
                </td>
                <td class="text-black">
                  {{ item.flowerPrice | number : "1.0" }}₫
                </td>
                <td>
                  <div
                    class="input-group d-flex align-items-center quantity-container"
                    style="max-width: 120px"
                  >
                    <div class="input-group-prepend">
                      <button
                        (click)="btnInsertUpdateCart(item.flowerId, -1)"
                        class="btn btn-outline-black decrease"
                        type="button"
                      >
                        &minus;
                      </button>
                    </div>
                    <input
                      type="text"
                      class="form-control text-center quantity-amount"
                      [value]="item.quantity"
                      placeholder=""
                      aria-label="Example text with button addon"
                      aria-describedby="button-addon1"
                    />
                    <div class="input-group-append">
                      <button
                        (click)="btnInsertUpdateCart(item.flowerId, 1)"
                        class="btn btn-outline-black increase"
                        type="button"
                      >
                        &plus;
                      </button>
                    </div>
                  </div>
                </td>
                <td class="text-black">
                  {{ item.flowerPrice * item.quantity | number : "1.0" }}₫
                </td>
                <td>
                  <button
                    type="button"
                    (click)="btnRemoveCartItem(item.id)"
                    mat-icon-button
                    color="accent"
                    class="btn btn-black btn-sm"
                  >
                    <mat-icon>close</mat-icon>
                  </button>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </form>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-12 mb-5">
        <div class="row mb-5">
          <div class="col-md-6 mb-3 mb-md-0">
            <button
              routerLink="/products"
              mat-button
              color="primary"
              extend
              class="fw-bold"
            >
              <mat-icon>keyboard_backspace</mat-icon>
              {{ "Cart.ContinueShopping" | translate }}
            </button>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-12">
            <label class="text-black h4">
              {{ "Cart.ClearCart" | translate }}</label
            >
            <p>{{ "Cart.ClearCartTitle" | translate }}</p>
          </div>
          <div class="col-md-12">
            <button
              mat-raised-button
              color="warn"
              class="btn p-20"
              style="padding: 20px"
              (click)="btnClearCart()"
            >
              {{ "Cart.ClearCart" | translate }}
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-6 pl-5">
        <div class="row justify-content-end">
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-12 text-right border-bottom mb-5">
                <h3 class="text-black h4 text-uppercase">
                  {{ "Cart.CartTotal" | translate }}
                </h3>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <span class="text-black">
                  {{ "Cart.SubTotal" | translate }}</span
                >
              </div>
              <div class="col-md-6 text-right">
                <strong class="text-black"
                  >{{ totalAmount | number : "1.0" }}₫</strong
                >
              </div>
            </div>
            <div class="row mb-5">
              <div class="col-md-6">
                <span class="text-black"> {{ "Cart.Total" | translate }}</span>
              </div>
              <div class="col-md-6 text-right">
                <strong class="text-black"
                  >{{ totalAmount | number : "1.0" }}₫</strong
                >
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <button
                  mat-raised-button
                  color="primary"
                  class="btn btn-black btn-lg py-3 btn-block"
                  routerLink="/order"
                  class="btn p-20"
                  style="padding: 20px"
                >
                  {{ "Cart.ProceedToOrder" | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  } @else {
  <div class="container my-5">
    <div class="row">
      <div class="col-md-12 text-center">
        <span class="icon-shopping-cart h1 d-block"></span>
        <img
          class="mb-5"
          width="160"
          src="./../../../assets/images/empty-cart-svg.svg"
          alt=""
        />
        <h4 class="text-black mb-5">Your cart is currently empty.</h4>
        <p>
          <button
            style="font-size: 16px"
            mat-button
            routerLink="/products"
            class="primary-color"
            extend
          >
            <mat-icon>arrow_back_ios</mat-icon>
            Return to shop
          </button>
        </p>
      </div>
    </div>
  </div>
  }
</div>
<app-footer></app-footer>
}@loading {
<div class="preloader-wrapper">
  <div class="preloader"></div>
</div>
}
