<!-- content -->
@if (flower) {
<div #topElement></div>
<section class="py-5 section-products">
  <div class="container">
    <div class="row gx-5">
      <aside class="col-lg-6">
        <div class="border rounded-4 mb-3 d-flex justify-content-center">
          <a
            data-fslightbox="mygalley"
            class="rounded-4"
            target="_blank"
            data-type="image"
            [href]="flower.imageUrl"
          >
            <img
              style="max-width: 100%; max-height: 100vh; margin: auto"
              class="rounded-4 fit p-5"
              [src]="flower.imageUrl"
              [alt]="flower.name"
            />
          </a>
        </div>
        <div class="d-flex justify-content-center mb-3">
          <a
            data-fslightbox="mygalley"
            class="border mx-1 rounded-2"
            target="_blank"
            data-type="image"
            [href]="flower.imageUrl"
            class="item-thumb"
          >
            <img
              width="60"
              height="60"
              class="rounded-2"
              [src]="flower.imageUrl"
            />
          </a>
        </div>
      </aside>
      <main class="col-lg-6">
        <div class="ps-lg-3">
          <h4 class="title text-dark">
            {{ flower.name }}
          </h4>
          <div class="d-flex flex-row my-3">
            <div class="text-warning mb-1 me-2">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <span class="ms-1"> 4.5 </span>
            </div>
            <span class="text-muted"
              ><i class="fas fa-shopping-basket fa-sm mx-1"></i
              >{{ flower.stockBalance }}
              {{ "ProductDetail.Available" | translate }}</span
            >
            @if (flower.stockBalance > 0) {
            <span class="text-success ms-2 fw-bold">{{
              "ProductDetail.InStock" | translate
            }}</span>
            }@else {
            <span class="text-danger ms-2 fw-bold">{{
              "ProductDetail.OutStock" | translate
            }}</span>
            }
          </div>

          <div class="mb-3">
            <span class="h5">{{ flower.price | number : "1.0" }}₫</span>
            <!-- <span class="text-muted">/per box</span> -->
          </div>

          <p>
            {{ flower.description }}
          </p>

          <div class="row">
            @for (category of flower.categories; track $index) {
            <dt class="col-3">{{ category.categoryParent }}</dt>
            <dd class="col-9">{{ category.name }}</dd>
            }
          </div>

          <hr />

          <div class="row mb-4">
            <!-- <div class="col-md-4 col-6">
              <h6 class="mb-2 text-primary">Size</h6>
              <select
                class="form-select border border-secondary"
                style="height: 35px"
              >
                <option>Small</option>
                <option>Medium</option>
                <option>Large</option>
              </select>
            </div> -->
            <!-- col.// -->
            <div class="col-md-12 col-12 mb-3">
              <h6 class="mb-2 d-block text-secondary">Quantity</h6>
              <div class="input-group mb-4" style="width: 170px">
                <button
                  class="btn btn-white border border-secondary"
                  type="button"
                  id="button-addon1"
                  data-mdb-ripple-color="dark"
                  (click)="bntDecreaseQuantity()"
                >
                  <mat-icon class="mt-2">remove</mat-icon>
                </button>
                <input
                  type="text"
                  class="form-control text-center border border-secondary"
                  aria-label="Example text with button addon"
                  aria-describedby="button-addon1"
                  readonly
                  [value]="quantityInput"
                />
                <button
                  class="btn btn-white border border-secondary"
                  type="button"
                  id="button-addon2"
                  data-mdb-ripple-color="dark"
                  (click)="btnIncreaseQuantity()"
                >
                  <mat-icon class="mt-2">add</mat-icon>
                </button>
              </div>
              <button
                style="padding: 26px; font-size: 16px"
                class="me-3 btn-buy-now"
                mat-raised-button
                color="accent"
                extended
              >
                <mat-icon>shopping_bag</mat-icon>
                {{ "Home.BuyNow" | translate }}
              </button>
              <button
                style="padding: 26px; font-size: 16px"
                mat-raised-button
                color="primary"
                extended
                (click)="btnInsertUpdateCart(flower.id, quantityInput)"
              >
                <mat-icon>add_shopping_cart</mat-icon>
                {{ "AddToCart" | translate }}
              </button>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</section>
<!-- content -->
<hr />

<!-- Seller Info -->
<section class="py-3">
  <div class="container">
    <div class="shop-info row align-items-center">
      <div class="col-md-3 text-center">
        <img
          class="rounded-circle"
          [src]="flower.user.avatar"
          [alt]="flower.user.name"
          width="100"
          height="100"
        />
      </div>
      <div class="col-md-3 text-center">
        <h5 class="shop-name">{{ flower.user.name }}</h5>
        <div class="text-warning">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <span class="ms-1">4.7</span>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <h6 class="text-muted">Đã bán 68 sản phẩm</h6>
      </div>
      <div class="col-md-3 text-center">
        <button mat-raised-button extend class="info">
          <mat-icon>storefront</mat-icon>
          {{ "ProductDetail.VisitShop" | translate }}
        </button>
      </div>
    </div>
  </div>
</section>

<!-- Seller Info -->

<section class="bg-light border-top py-4">
  <div class="container">
    <div class="row gx-4">
      <div class="col-lg-12">
        <div class="px-0 border rounded-2 shadow-0">
          <div class="card p-5">
            <div class="card-body">
              <h5 class="card-title text-black fw-bold mb-5">
                {{ "ProductDetail.SimilarProduct" | translate }}
              </h5>
              <div class="row">
                <div class="col-md-12">
                  <div
                    class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-4"
                  >
                    @for (flower of listSimilarFlowers; track $index) {
                    <div class="col">
                      <div class="product-item">
                        <figure>
                          <a
                            href="javascript:;"
                            title="Product Title"
                            (click)="onSimilarFlowerClick(flower.id)"
                          >
                            <img
                              [src]="flower.imageUrl"
                              [alt]="flower.name"
                              class="tab-image w-100"
                            />
                          </a>
                        </figure>
                        <div class="d-flex flex-column text-center">
                          <a
                            href="javascript:;"
                            class="product-name"
                            (click)="onSimilarFlowerClick(flower.id)"
                          >
                            <h3 class="fs-6 fw-normal">{{ flower.name }}</h3>
                          </a>
                          <div>
                            <span class="rating">
                              <svg width="18" height="18" class="text-warning">
                                <use xlink:href="#star-full"></use>
                              </svg>
                              <svg width="18" height="18" class="text-warning">
                                <use xlink:href="#star-full"></use>
                              </svg>
                              <svg width="18" height="18" class="text-warning">
                                <use xlink:href="#star-full"></use>
                              </svg>
                              <svg width="18" height="18" class="text-warning">
                                <use xlink:href="#star-full"></use>
                              </svg>
                              <svg width="18" height="18" class="text-warning">
                                <use xlink:href="#star-half"></use>
                              </svg>
                            </span>
                            <span>(222)</span>
                          </div>
                          <div
                            class="d-flex justify-content-center align-items-center gap-2"
                          >
                            <del>{{ flower.price | number : "1.0" }}₫</del>
                            <span class="text-dark fw-semibold"
                              >{{ flower.price | number : "1.0" }}₫</span
                            >
                          </div>
                          <div class="button-area p-3 pt-0">
                            <div class="row g-1 mt-2">
                              <div class="col-12">
                                <a
                                  href="javascript:;"
                                  (click)="btnInsertUpdateCart(flower.id, 1)"
                                  class="btn btn-primary rounded-1 p-2 fs-7 btn-cart"
                                  ><svg width="18" height="18">
                                    <use xlink:href="#cart"></use>
                                  </svg>
                                  {{ "AddToCart" | translate }}</a
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    }
                  </div>
                </div>
                <!-- / product-grid -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
}
