@defer () { @if (flower) {
<app-header></app-header>
<app-breadcrumb></app-breadcrumb>
<div #topElement></div>
<section class="section-products">
  <div class="container">
    <div class="row gx-5">
      <aside class="col-lg-6">
        <div class="border rounded-4 mb-3 d-flex justify-content-center">
          <a
            data-fslightbox="mygalley"
            class="rounded-4"
            target="_blank"
            data-type="image"
            [href]="currentImageUrl"
          >
            <img
              style="max-width: 100%; max-height: 100vh; margin: auto"
              class="rounded-4 fit p-5"
              [src]="currentImageUrl"
              [alt]="flower.name"
            />
          </a>
        </div>

        <div class="d-flex justify-content-center mb-3">
          @for (image of flower.images; track $index) {
          <a
            data-fslightbox="mygalley"
            class="border mx-1 rounded-2"
            data-type="image"
            href="javascript:;"
            class="p-2"
            (click)="onThumbnailClick(image.url, $index)"
            [ngClass]="{
              'item-thumb': selectedImageIndex === $index,
              'selected-thumbnail': selectedImageIndex === $index
            }"
          >
            <img width="80" height="80" class="rounded-2" [src]="image.url" />
          </a>
          }
        </div>
      </aside>
      <main class="col-lg-6">
        <div class="ps-lg-3">
          <h4 class="title primary-color">
            {{ flower.name }}
          </h4>
          <div class="d-flex flex-row my-3">
            <div class="text-black mb-1 me-3">
              <span class="ms-1"> Lượt xem: {{ flower.views }} </span>
            </div>
            <span class="text-black me-3"
              ><i class="fas fa-shopping-basket me-2"></i
              >{{ flower.stockQuantity }}
              {{ "ProductDetail.Available" | translate }}</span
            >
            @if (flower.stockQuantity > 0) {
            <span class="text-success me-3 fw-bold">{{
              "ProductDetail.InStock" | translate
            }}</span>
            }@else {
            <span class="text-danger me-3 fw-bold">{{
              "ProductDetail.OutStock" | translate
            }}</span>
            }
          </div>

          <div class="mb-3">
            <span class="h5 fw-bold text-danger"
              >{{ flower.price | number : "1.0" }}₫</span
            >
          </div>

          <p class="text-black">
            {{ flower.description }}
          </p>

          <div class="row">
            @for (category of flower.categories; track $index) {
            <span class="col-3 text-black fw-bold"
              >{{
                category.categoryParent | typeTransform : "ParentCategory"
              }}:</span
            >
            <span class="col-9 text-black fw-bold">{{ category.name }}</span>
            }
          </div>

          <hr />

          <div class="row mb-4">
            <div class="col-md-12 col-12 mb-3">
              <h6 class="mb-2 d-block text-secondary">Quantity</h6>
              <div class="input-group mb-4" style="width: 170px">
                <button
                  class="btn btn-white border border-secondary text-black"
                  type="button"
                  id="button-addon1"
                  data-mdb-ripple-color="dark"
                  (click)="bntDecreaseQuantity()"
                >
                  <mat-icon class="mt-2">remove</mat-icon>
                </button>
                <input
                  type="text"
                  class="form-control text-center border border-secondary text-black"
                  aria-label="Example text with button addon"
                  aria-describedby="button-addon1"
                  readonly
                  [value]="quantityInput"
                />
                <button
                  class="btn btn-white border border-secondary text-black"
                  type="button"
                  id="button-addon2"
                  data-mdb-ripple-color="dark"
                  (click)="btnIncreaseQuantity()"
                >
                  <mat-icon class="mt-2">add</mat-icon>
                </button>
              </div>
              <button
                (click)="btnBuyNow(flower.id, quantityInput)"
                style="padding: 26px; font-size: 16px"
                class="me-3 btn-buy-now"
                mat-raised-button
                color="accent"
                extended
              >
                <mat-icon>shopping_bag</mat-icon>
                {{ "Home.BuyNow" | translate }}
              </button>
              <button
                style="padding: 26px; font-size: 16px"
                mat-raised-button
                color="primary"
                extended
                (click)="btnInsertUpdateCart(flower.id, quantityInput)"
              >
                <mat-icon>add_shopping_cart</mat-icon>
                {{ "AddToCart" | translate }}
              </button>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</section>
<!-- content -->
<hr />

<!-- Seller Info -->
<section class="py-3">
  <div class="container">
    <div class="shop-info row align-items-center">
      <div class="col-md-3 text-center">
        <img
          class="rounded-circle"
          [src]="flower.user.avatar"
          [alt]="flower.user.name"
          width="100"
          height="100"
        />
      </div>
      <div class="col-md-3 text-center">
        <h5 class="shop-name">{{ flower.user.name }}</h5>
      </div>
      <div class="col-md-3 text-center">
        <h6 class="text-muted">Đã bán 68 sản phẩm</h6>
      </div>
      <div class="col-md-3 text-center">
        <button mat-raised-button extend class="info" (click)="btnVisitShop()">
          <mat-icon>storefront</mat-icon>
          {{ "ProductDetail.VisitShop" | translate }}
        </button>
      </div>
    </div>
  </div>
</section>
<hr />

<!-- Product Feedback -->
<div class="container my-5">
  <h5 class="comments-title fw-bold">Đánh giá ({{ listFeedback.length }})</h5>
  @for (feedback of listFeedback; track $index) {
  <mat-card class="be-comment mb-3">
    <div class="row g-0 align-items-center">
      <div class="col-auto">
        <a>
          <img
            [src]="feedback.user.avatar"
            alt="Avatar"
            class="be-ava-comment rounded-circle"
          />
        </a>
      </div>
      <div class="col">
        <div class="be-comment-content ms-3">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <span class="be-comment-name fw-bold me-3">
                <a href="#">{{ feedback.user.name }}</a>
              </span>
              <div class="d-flex align-items-center">
                @for (star of [1, 2, 3, 4, 5]; track $index) {
                <mat-icon class="star text-warning">
                  {{ star <= feedback.rating ? "star" : "star_border" }}
                </mat-icon>
                }
              </div>
            </div>
            <span class="be-comment-time text-muted d-flex align-items-center">
              <mat-icon class="me-1">access_time</mat-icon>
              {{ feedback.createdAt | date : "dd/MM/yyyy HH:mm:ss" }}
            </span>
          </div>
          <p class="be-comment-text mt-2">
            {{ feedback.description }}
          </p>
        </div>
      </div>
    </div>
  </mat-card>
  }@empty {
  <div class="text-center my-5">
    <img
      src="assets/images/comment.svg"
      alt="No feedback yet"
      class="mb-3"
      width="150"
    />
    <p class="text-muted fs-5">
      Hiện tại chưa có đánh giá nào cho sản phẩm này.
    </p>
    <p class="text-muted">Hãy là người đầu tiên chia sẻ ý kiến của bạn!</p>
  </div>
  }

  <div class="add-comment my-4">
    <mat-card class="p-3">
      <div class="align-items-center d-flex my-2">
        <p class="text-black fw-bold me-3">Your Rating:</p>
        @for (star of [1, 2, 3, 4, 5]; track $index) {
        <mat-icon
          (click)="rate(star)"
          class="star mb-3 text-black cursor-pointer"
          [ngClass]="{ filled: star <= rating }"
        >
          {{ star <= rating ? "star" : "star_border" }}
        </mat-icon>
        }
      </div>
      <form [formGroup]="feedBackForm" class="form-group mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Your Feedback</mat-label>
          <textarea
            matInput
            required="true"
            formControlName="content"
            rows="4"
            placeholder="Write your message here..."
          ></textarea>
          @if (feedBackForm.get('commentText')?.hasError('required')) {
          <mat-error class="mat-error" style="font-size: 12px">
            Feedback is required
          </mat-error>
          }
        </mat-form-field>
      </form>
      <div class="d-flex justify-content-end">
        <button
          class="btn"
          style="padding: 24px 36px"
          mat-raised-button
          color="primary"
          (click)="btnSubmitFeedback()"
        >
          Submit
        </button>
      </div>
    </mat-card>
  </div>
</div>

<!-- Seller Info -->
@if (listSimilarFlowers.length > 0) {
<section class="border-top py-4">
  <div class="container">
    <div class="row gx-4">
      <div class="col-lg-12">
        <div class="px-0 border rounded-2 shadow-0">
          <mat-card class="p-5">
            <div class="card-body">
              <h5 class="card-title text-black fw-bold mb-5">
                {{ "ProductDetail.SimilarProduct" | translate }}
              </h5>
              <div class="row">
                <div class="col-md-12">
                  <div
                    class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-4"
                  >
                    @for (flower of listSimilarFlowers; track $index) {
                    <div class="col">
                      <div class="product-item">
                        <figure>
                          <a
                            href="javascript:;"
                            title="Product Title"
                            (click)="onSimilarFlowerClick(flower.id)"
                          >
                            <img
                              [src]="flower.images[0].url"
                              [alt]="flower.name"
                              class="tab-image w-100"
                            />
                          </a>
                        </figure>
                        <div class="d-flex flex-column text-center">
                          <a
                            href="javascript:;"
                            class="product-name"
                            (click)="onSimilarFlowerClick(flower.id)"
                          >
                            <h3 class="fs-6 fw-normal">{{ flower.name }}</h3>
                          </a>
                          <div>
                            <span class="rating">
                              <svg width="18" height="18" class="text-warning">
                                <use xlink:href="#star-full"></use>
                              </svg>
                              <svg width="18" height="18" class="text-warning">
                                <use xlink:href="#star-full"></use>
                              </svg>
                              <svg width="18" height="18" class="text-warning">
                                <use xlink:href="#star-full"></use>
                              </svg>
                              <svg width="18" height="18" class="text-warning">
                                <use xlink:href="#star-full"></use>
                              </svg>
                              <svg width="18" height="18" class="text-warning">
                                <use xlink:href="#star-half"></use>
                              </svg>
                            </span>
                            <span>(222)</span>
                          </div>
                          <div
                            class="d-flex justify-content-center align-items-center gap-2"
                          >
                            <del>{{ flower.price | number : "1.0" }}₫</del>
                            <span class="text-dark fw-semibold"
                              >{{ flower.price | number : "1.0" }}₫</span
                            >
                          </div>
                          <div class="button-area p-3 pt-0">
                            <div class="row g-1 mt-2">
                              <div class="col-12">
                                <a
                                  href="javascript:;"
                                  (click)="btnInsertUpdateCart(flower.id, 1)"
                                  class="btn btn-primary rounded-1 p-2 fs-7 btn-cart"
                                  ><svg width="18" height="18">
                                    <use xlink:href="#cart"></use>
                                  </svg>
                                  {{ "AddToCart" | translate }}</a
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    }
                  </div>
                </div>
                <!-- / product-grid -->
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</section>
}
<app-footer></app-footer>
} }@loading {
<div class="preloader-wrapper">
  <div class="preloader"></div>
</div>
}
