<div class="untree_co-section order-section">
  <div class="container">
    @if (statusOrder === 0) {
    <div class="row">
      <div class="col-md-6 mb-5 mb-md-0">
        <h2 class="h3 mb-3 text-black">Chi tiết thanh toán</h2>
        <div class="p-3 p-lg-5 border bg-white">
          <label for="c_fname" class="text-black"
            >Họ và tên <span class="text-danger">*</span></label
          >
          <form class="form-group" [formGroup]="orderForm">
            <mat-form-field class="w-100 fs-12 my-2" appearance="outline">
              <mat-label>Họ và tên</mat-label>
              <input
                matInput
                type="text"
                required
                formControlName="name"
                [class.is-invalid]="
                  orderForm.get('name')?.invalid &&
                  orderForm.get('name')?.touched
                "
              />
              @if(orderForm.get('name')!.hasError('required')) {
              <mat-error class="fs-12">
                Họ và tên không được để trống
              </mat-error>
              } @if (orderForm.get('name')!.hasError('minlength')) {
              <mat-error class="fs-12">
                Họ và tên quá ngắn. Tối thiểu 5 ký tự
              </mat-error>
              }
            </mat-form-field>
            <div class="form-group row">
              <div class="col-md-6">
                <label for="c_fname" class="text-black"
                  >Số điện thoại<span class="text-danger">*</span></label
                >
                <mat-form-field class="w-100 fs-12 my-2" appearance="outline">
                  <mat-label>Số điện thoại</mat-label>
                  <input
                    matInput
                    type="phone"
                    required
                    formControlName="phone"
                    [class.is-invalid]="
                      orderForm.get('phone')?.invalid &&
                      orderForm.get('phone')?.touched
                    "
                  />
                  @if(orderForm.get('phone')!.hasError('required')) {
                  <mat-error class="fs-12">
                    Số điện thoại không được để trống
                  </mat-error>
                  } @if(orderForm.get('phone')!.hasError('minlength') ||
                  orderForm.get('phone')!.hasError('maxlength')) {
                  <mat-error class="fs-12">
                    Số điện thoại phải đúng 10 chữ số.
                  </mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <label for="c_lname" class="text-black"
                  >Địa chỉ <span class="text-danger">*</span></label
                >
                <mat-form-field class="w-100 fs-12 my-2" appearance="outline">
                  <mat-label>Địa chỉ</mat-label>
                  <input
                    matInput
                    type="text"
                    required
                    formControlName="deliveryAddress"
                    [class.is-invalid]="
                      orderForm.get('deliveryAddress')?.invalid &&
                      orderForm.get('deliveryAddress')?.touched
                    "
                  />
                  @if(orderForm.get('deliveryAddress')!.hasError('required')) {
                  <mat-error class="fs-12">
                    Địa chỉ không được để trống
                  </mat-error>
                  } @if(orderForm.get('deliveryAddress')!.hasError('minlength'))
                  {
                  <mat-error class="fs-12">
                    Địa chỉ quá ngắn. Tối thiểu 10 ký tự
                  </mat-error>
                  }
                </mat-form-field>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-12">
                <label for="c_companyname" class="text-black">Ghi chú </label>
                <mat-form-field class="w-100 fs-12 mt-2" appearance="outline">
                  <mat-label>Ghi chú</mat-label>
                  <textarea
                    matInput
                    rows="4"
                    formControlName="note"
                    [class.is-invalid]="
                      orderForm.get('note')?.invalid &&
                      orderForm.get('note')?.touched
                    "
                  ></textarea>
                  @if(orderForm.get('note')!.hasError('maxlength')) {
                  <mat-error class="fs-12">
                    Ghi chú quá dài. Tối đa 200 ký tự
                  </mat-error>
                  }
                </mat-form-field>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <!-- <div class="row mb-5">
          <div class="col-md-12">
            <h2 class="h3 mb-3 text-black">Coupon Code</h2>
            <div class="p-3 p-lg-5 border bg-white">
              <label for="c_code" class="text-black mb-3"
                >Enter your coupon code if you have one</label
              >
              <div class="input-group w-75 couponcode-wrap">
                <input
                  type="text"
                  class="form-control me-2"
                  id="c_code"
                  placeholder="Coupon Code"
                  aria-label="Coupon Code"
                  aria-describedby="button-addon2"
                />
                <div class="input-group-append">
                  <button
                    class="btn btn-black btn-sm"
                    type="button"
                    id="button-addon2"
                  >
                    Apply
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div> -->

        <div class="row mb-5">
          <div class="col-md-12">
            <h2 class="h3 mb-3 text-black">Your Order</h2>
            <form [formGroup]="orderForm" class="p-3 p-lg-5 border bg-white">
              <table class="table site-block-order-table mb-5">
                <thead>
                  <th class="text-black">Image</th>
                  <th class="text-black">Product</th>
                  <th class="text-black">Total</th>
                </thead>
                <tbody>
                  @for (item of listCartItem; track $index) {
                  <tr>
                    <td>
                      <img width="50" [src]="" alt="Image" class="img-fluid" />
                    </td>
                    <td>
                      {{ item.flowerName }}<strong class="mx-2">x</strong
                      >{{ item.quantity }}
                    </td>
                    <td>${{ item.quantity }}</td>
                  </tr>
                  }
                  <tr>
                    <td class="text-black font-weight-bold">
                      <strong>Cart Subtotal</strong>
                    </td>
                    <td></td>

                    <td class="text-danger">${{ totalAmount }}</td>
                  </tr>
                  <tr>
                    <td class="text-black font-weight-bold">
                      <strong>Order Total</strong>
                    </td>
                    <td></td>

                    <td class="text-black font-weight-bold">
                      <strong class="text-danger">${{ totalAmount }}</strong>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div class="border p-3 mb-3">
                <mat-radio-group formControlName="paymentMethod">
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <mat-radio-button value="Wallet"
                      >Thanh toán bằng ví</mat-radio-button
                    >
                    <img
                      width="60"
                      src="./../../../assets/images/wallet-payment-svg.svg"
                      alt=""
                    />
                  </div>
                  <hr />
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <mat-radio-button value="PayOs"
                      >Thanh toán bằng PayOs</mat-radio-button
                    >
                    <img
                      width="60"
                      src="./../../../assets/images/payos-logo.svg"
                      alt=""
                    />
                  </div>
                </mat-radio-group>
              </div>

              <div class="form-group d-flex justify-content-end mt-5">
                <button
                  (click)="placeOrder()"
                  color="accent"
                  mat-raised-button
                  style="font-size: 18px"
                >
                  Place Order
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- </form> -->
    </div>
    }@else if (statusOrder === 1) {
    <div class="row">
      <div class="col-md-12 text-center pt-5">
        <span class="display-3 thankyou-icon text-primary">
          <img
            width="100"
            src="./../../../assets/images/success-svg.svg"
            alt=""
            class="img-fluid mb-5"
          />
        </span>
        <h2 class="display-3 text-black">Thank you!</h2>
        <p class="lead mb-5">You order was successfully completed.</p>
        <div class="d-flex align-items-center justify-content-center gap-5">
          <button
            mat-button
            routerLink="/"
            class="btn btn-sm btn-outline-black"
            color="primary"
            style="font-size: 20px"
          >
            <mat-icon style="font-size: 20px">arrow_back</mat-icon>
            Back to home
          </button>
          <button
            mat-button
            routerLink="/order-tracking"
            class="btn btn-sm btn-outline-black"
            color="accent"
            style="font-size: 20px"
          >
            <mat-icon style="font-size: 20px">local_shipping</mat-icon>
            Order History
          </button>
        </div>
      </div>
    </div>
    } @else if (statusOrder === 2) {
    <!-- Giao diện đặt hàng thất bại -->
    <div class="row">
      <div class="col-md-12 text-center pt-5">
        <span class="display-3 text-danger">
          <img
            style="color: red"
            width="100"
            src="./../../../assets/images/error-svg.svg"
            alt="Failed Order"
            class="img-fluid mb-5"
          />
        </span>
        <h2 class="display-3 text-black">Order Failed!</h2>
        <p class="lead mb-5 text-danger">
          Your order could not be processed. Please try again.
        </p>
        <div class="d-flex align-items-center justify-content-center gap-5">
          <button
            mat-button
            routerLink="/"
            class="btn btn-sm btn-outline-black"
            color="primary"
            style="font-size: 20px"
          >
            <mat-icon style="font-size: 20px">arrow_back</mat-icon>
            Back to home
          </button>
          <button
            mat-button
            class="btn btn-sm btn-outline-black"
            color="accent"
            style="font-size: 20px"
            (click)="retryOrder()"
          >
            <mat-icon style="font-size: 20px">refresh</mat-icon>
            Retry Order
          </button>
        </div>
      </div>
    </div>
    }
  </div>
</div>
