.order-section {
  padding-top: 10rem;
  padding-bottom: 4rem;
}

@media screen and (max-width: 768px) {
  .order-section {
    padding-top: 14rem;
  }
}

.fs-14 {
  font-size: 14px;
}
@media screen and (max-width: 932px) {
  .th-title {
    font-size: 14px;
  }
}
