.order-section {
  padding: 4rem;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 376px) {
  .order-section {
    padding: 0;
  }

  .col-md-5,
  .col-md-7 {
    width: 100%;
  }

  .table {
    font-size: 12px;
  }
}

.fs-14 {
  font-size: 14px;
}

@media screen and (max-width: 932px) {
  .th-title {
    font-size: 14px;
  }
}

.image-container {
  position: relative;
  display: inline-block;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  .badge {
    position: absolute;
    top: 6px;
    right: 6px;
    background-color: var(--bs-danger);
    color: white;
    border-radius: 50%;
    padding: 4px 6px;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (max-width: 375px) {
    .badge {
      top: -3px;
      right: -5px;
      padding: 2px 4px;
    }
  }
}

.payment-methods {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.payment-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #afabab;
  border-radius: 8px;
  padding: 20px;
  background-color: #fff;
  cursor: pointer;
  width: 300px;
  text-align: center;
  transition: border-color 0.3s ease;
  max-width: 100%;
}

.payment-option.active {
  border-color: #fb9678;
}

.payment-option img {
  margin-bottom: 10px;
}

.payment-option span {
  font-weight: bold;
  margin-bottom: 10px;
}

.balance-info {
  margin-top: 10px;
  font-size: 14px;
}

.payment-option:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
