@defer () {
<app-header></app-header>
<app-breadcrumb></app-breadcrumb>
<section class="container section-order-history">
  <mat-tab-group
    class="fw-bold text-black"
    (selectedTabChange)="onTabChange($event)"
  >
    @for (tab of tabs; track $index) {
    <mat-tab [label]="tab.label + ' (' + tab.count + ')'"></mat-tab>
    }
  </mat-tab-group>
  @for (order of listOrder; track $index) {
  <article class="card mt-5">
    <div class="card-body">
      <h6 class="mb-4">
        <span class="fw-bold text-black">Mã đơn hàng:</span>
        <span class="primary-color"> #{{ order.id }}</span>
      </h6>
      <article class="card">
        <div class="card-body row">
          <div class="col">
            <span class="fw-bold text-black">Thông tin sản phẩm</span>
            <figure class="itemside mb-3">
              <div class="aside">
                <img
                  [src]="order.flowerListing.images[0].url"
                  class="img-sm border"
                />
              </div>
              <figcaption class="info align-self-center">
                <p class="title">
                  {{ order.flowerListing.name }} <br />
                  x {{ order.quantity }}
                </p>
                <span class="text-black"
                  >{{ order.price | number : "1.0" }}₫</span
                >
              </figcaption>
            </figure>
          </div>
          <div class="col">
            <strong class="fw-bold text-black">Địa chỉ giao hàng</strong> <br />
            <span class="text-black">
              {{ order.orderSummary.buyerAddress }}</span
            >
          </div>
          <div class="col">
            <strong class="fw-bold text-black">SĐT người nhận</strong> <br />
            <i class="fa fa-phone me-3"></i>
            <span class="text-black">{{ order.orderSummary.buyerPhone }}</span>
          </div>
          <div class="col">
            <strong class="fw-bold text-black">Tên người nhận</strong> <br />
            <span class="text-black"> {{ order.orderSummary.buyerName }}</span>
          </div>
          <div class="col">
            <strong class="fw-bold text-black">Ngày đặt hàng</strong> <br />
            <span class="text-black">
              {{ order.createAt | date : "dd-MM-yyyy HH:ss" }}</span
            >
          </div>
        </div>
      </article>
      <div class="track custom-track text-black">
        @if (isNonProcessStatus(order.status)) { @for (step of nonProcessSteps;
        track $index) { @if (step.status === order.status) {
        <div
          class="step"
          [ngClass]="{
            'active-cancel':
              order.status === orderDetailStatus.BUYER_CANCELED ||
              order.status === orderDetailStatus.SELLER_CANCELED,
            'active-refund': order.status === orderDetailStatus.REFUNDED
          }"
        >
          <span class="icon"> <i [class]="step.icon"></i> </span>
          <span class="text">{{ step.label }}</span>
        </div>
        } }}@else { @for (step of steps; track $index) {
        <div
          class="step"
          [ngClass]="{
            active: isActiveStep(order.status, step.status)
          }"
        >
          <span class="icon"> <i [class]="step.icon"></i> </span>
          <span class="text">{{ step.label }}</span>
        </div>
        } }
      </div>
      @if (order.status === orderDetailStatus.PENDING) {
      <div class="d-flex justify-content-center align-items-center">
        <button
          mat-raised-button
          color="warn"
          class="btn btn-danger mt-4 text-white"
          (click)="btnOpenCancelOrderDialog(order.id)"
        >
          Huỷ đơn hàng
        </button>
      </div>
      }@else if (order.status === orderDetailStatus.SHIPPED) {
      <div class="d-flex justify-content-center align-items-center">
        <button
          mat-raised-button
          style="background-color: var(--bs-success)"
          class="btn t-4 text-white"
          extend
          (click)="btnConfirmReceived(order.id)"
        >
          <mat-icon>task_alt</mat-icon>
          Xác nhận đã nhận hàng
        </button>
      </div>
      }
    </div>
  </article>
  }@empty {
  <section>
    <div class="empty-order" style="padding: 100px">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        class="empty-order-icon"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M4 4h16v2H4z" />
        <path d="M4 6l2 10h12l2-10" />
        <circle cx="9" cy="20" r="1" />
        <circle cx="15" cy="20" r="1" />
        <path d="M4 8h16v2H4z" />
        <path d="M8 10c1.5 2 4 2 5 0" />
        <path d="M12 10c1.5 2 4 2 5 0" />
      </svg>

      <p class="empty-order-message">Không có đơn hàng nào ở trạng thái này.</p>
    </div>
  </section>
  } @if (totalPages > 1) {
  <div class="section pagenav clearfix d-flex justify-content-center mt-5">
    <nav class="collection-paginate clearfix nav_pagi w_100 relative">
      <ul class="pagination clearfix">
        @if (currentPage > 0) {
        <li class="page-item">
          <a
            class="page-link"
            href="javascript:;"
            (click)="onPageChange(currentPage - 1)"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="12"
              height="20"
              viewBox="0 0 12 20"
              fill="none"
            >
              <path
                d="M0.827131 10.5488L10.0777 19.7738C10.3808 20.0759 10.8715 20.0754 11.1741 19.7723C11.4764 19.4692 11.4756 18.9782 11.1725 18.6759L2.47255 9.99996L11.1728 1.32406C11.4759 1.02172 11.4767 0.531057 11.1744 0.227934C11.0227 0.0759811 10.824 3.76429e-06 10.6253 3.74691e-06C10.4271 3.72959e-06 10.2292 0.0754737 10.0778 0.226372L0.827131 9.45114C0.681155 9.59637 0.599241 9.79403 0.599241 9.99996C0.599241 10.2059 0.68139 10.4033 0.827131 10.5488Z"
                fill="#9D9D9D"
              ></path>
            </svg>
          </a>
        </li>
        } @for (page of visiblePages; track $index) {
        <li class="page-item" [ngClass]="{ active: page === currentPage + 1 }">
          <a
            class="page-link"
            href="javascript:;"
            [style]="{
              'pointer-events: none': page === currentPage + 1
            }"
            (click)="onPageChange(page - 1)"
            >{{ page }}</a
          >
        </li>
        } @if (currentPage < totalPages - 1) {
        <li class="page-item">
          <a
            class="page-link link-next-pre"
            onclick="doSearch(2)"
            href="javascript:;"
            (click)="onPageChange(currentPage + 1)"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="12"
              height="20"
              viewBox="0 0 12 20"
              fill="none"
            >
              <path
                d="M11.1729 9.45117L1.92228 0.226167C1.6192 -0.0759023 1.12849 -0.0753945 0.825918 0.227729C0.523575 0.530814 0.524357 1.02179 0.827481 1.32409L9.52745 10L0.827168 18.6759C0.524083 18.9783 0.523302 19.4689 0.825605 19.7721C0.977285 19.924 1.17599 20 1.37471 20C1.57291 20 1.77084 19.9245 1.92224 19.7736L11.1729 10.5489C11.3188 10.4036 11.4008 10.206 11.4008 10C11.4008 9.7941 11.3186 9.59668 11.1729 9.45117Z"
                fill="#9D9D9D"
              ></path>
            </svg>
          </a>
        </li>
        }
      </ul>
    </nav>
  </div>
  }
</section>
<app-footer></app-footer>
}@loading {
<div class="preloader-wrapper">
  <div class="preloader"></div>
</div>
}
