header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
}
.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  outline: 0;
  box-shadow: none;
}

@media screen and (max-width: 414px) {
  .header-page {
    font-size: 12px;
  }
}
.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 50%;
  margin: 0 auto;
}

@media screen and (max-width: 430px) {
  .input-group {
    width: 100%;
  }
}
.header-menu-item {
  cursor: pointer;
}
.mat-menu-panel {
  min-width: 400px !important;
  max-width: 400px !important;
}
