@defer () {
<app-header></app-header>
<app-breadcrumb></app-breadcrumb>
<section class="container section-wallet">
  <div class="wallet rounded shadow-sm">
    <div class="header text-white">
      <div class="row p-5">
        <div class="col-lg-4 col-md-12">
          <h5 class="text-white mb-3 text-center">
            {{ "Wallet.MyBalance" | translate }}
          </h5>
          <h2 class="text-white text-center">
            {{ accountBalance | number : "1.0" }}₫
          </h2>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="d-flex flex-column align-items-center">
            <img
              data-bs-toggle="modal"
              data-bs-target="#topupModal"
              width="50"
              style="color: white; cursor: pointer"
              src="./../../../assets/images/wallet-plus.svg"
              alt="Wallet Plus"
            />
            <div class="text-white fw-bold">
              {{ "Wallet.TopUpToWallet" | translate }}
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="d-flex justify-content-center">
            <img
              width="50"
              src="./../../../assets/images/wallet-payment-svg.svg"
              alt="User Profile"
              class="rounded-circle"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="content p-4">
      <div class="card mb-5">
        <div class="card-body mt-3">
          <div class="row">
            <div
              class="col-lg-2 col-md-12 col-sm-12 d-flex align-items-center justify-content-center mb-3"
            >
              <div class="text-black fw-bold">
                <span>{{ "FilterBy" | translate }}</span>
              </div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <div
                class="d-flex align-items-center justify-content-between flex-wrap"
              >
                <mat-form-field appearance="outline">
                  <mat-label>{{ "Status" | translate }}</mat-label>
                  <mat-select
                    placeholder="{{ 'SelectStatus' | translate }}"
                    [(ngModel)]="status"
                  >
                    <mat-option value="">None</mat-option>
                    @for (status of walletLogStatuses; track $index) {
                    <mat-option [value]="status">
                      {{ status }}
                    </mat-option>
                    }
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>{{ "Type" | translate }}</mat-label>
                  <mat-select
                    placeholder="{{ 'SelectType' | translate }}"
                    [(ngModel)]="type"
                  >
                    <mat-option value="">None</mat-option>
                    @for (type of walletLogTypes; track $index) {
                    <mat-option [value]="type">
                      {{ getWalletLogTypeLabel(type) | translate }}
                    </mat-option>
                    }
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>{{
                    "EnterStartAndEndDate" | translate
                  }}</mat-label>
                  <mat-date-range-input
                    [formGroup]="range"
                    [rangePicker]="picker"
                  >
                    <input
                      matStartDate
                      formControlName="start"
                      placeholder="Start date"
                      (dateChange)="onStartDateChange($event)"
                    />
                    <input
                      matEndDate
                      (dateChange)="onEndDateChange($event)"
                      formControlName="end"
                      placeholder="End date"
                    />
                  </mat-date-range-input>
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>

                  @if (range.controls.start.hasError('matStartDateInvalid')) {
                  <mat-error>Invalid start date</mat-error>
                  } @if (range.controls.end.hasError('matEndDateInvalid')) {
                  <mat-error>Invalid end date</mat-error>
                  }
                </mat-form-field>

                <button
                  mat-raised-button
                  color="primary"
                  class="btn mb-4"
                  style="padding: 20px"
                  type="button"
                  (click)="btnApplyFilter()"
                >
                  {{ "Products.Apply" | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="transactions">
        <h6 class="t-desc">{{ "Wallet.RecentTransaction" | translate }}</h6>
        @for (log of listWalletLog; track $index) {
        <div
          class="transaction d-flex justify-content-between align-items-center p-3 mb-2 bg-light rounded shadow-sm"
        >
          <div class="t-details flex-grow-1 ms-3">
            <div class="d-flex align-items-center">
              <div class="t-title text-black me-3">
                {{ getWalletLogTypeLabel(log.type) | translate }}
              </div>
              @if (log.refund && log.type === walletLogType.SUBTRACT) {
              <div>
                <span class="badge badge-warning mb-2"
                  >Hoàn tiền cho người mua</span
                >
              </div>
              }@else if (log.refund && log.type === walletLogType.ADD) {
              <div>
                <span class="badge badge-success mb-2">Nhận hoàn tiền</span>
              </div>
              }
            </div>
            <div class="t-time text-black">
              {{ log.createdAt | date : "yyyy-MM-dd HH:mm:ss" }}
            </div>
          </div>
          <div class="d-flex flex-column align-items-center">
            <div
              class="t-amount fw-bold"
              [ngClass]="{
                'text-success':
                  log.type === walletLogType.ADD ||
                  log.type === walletLogType.DEPOSIT,
                'text-danger':
                  log.type === walletLogType.SUBTRACT ||
                  log.type === walletLogType.WITHDRAW,
                'text-warning': log.status === walletLogStatus.PENDING
              }"
            >
              @if (log.type === walletLogType.ADD || (log.type ===
              walletLogType.DEPOSIT && log.status == walletLogStatus.SUCCESS)) {
              + }@else if (log.type === walletLogType.SUBTRACT || log.type ===
              walletLogType.WITHDRAW) { - }

              {{ log.amount | number : "1.0" }}₫
            </div>
            <div class="t-current-balance text-black fw-bold">
              SD: {{ log.balance | number : "1.0" }}₫
            </div>
          </div>
        </div>
        } @if (totalPages > 1) {
        <div
          class="section pagenav clearfix d-flex justify-content-center mt-5"
        >
          <nav class="collection-paginate clearfix nav_pagi w_100 relative">
            <ul class="pagination clearfix">
              @if (currentPage > 0) {
              <li class="page-item">
                <a
                  class="page-link"
                  href="javascript:;"
                  (click)="onPageChange(currentPage - 1)"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="12"
                    height="20"
                    viewBox="0 0 12 20"
                    fill="none"
                  >
                    <path
                      d="M0.827131 10.5488L10.0777 19.7738C10.3808 20.0759 10.8715 20.0754 11.1741 19.7723C11.4764 19.4692 11.4756 18.9782 11.1725 18.6759L2.47255 9.99996L11.1728 1.32406C11.4759 1.02172 11.4767 0.531057 11.1744 0.227934C11.0227 0.0759811 10.824 3.76429e-06 10.6253 3.74691e-06C10.4271 3.72959e-06 10.2292 0.0754737 10.0778 0.226372L0.827131 9.45114C0.681155 9.59637 0.599241 9.79403 0.599241 9.99996C0.599241 10.2059 0.68139 10.4033 0.827131 10.5488Z"
                      fill="#9D9D9D"
                    ></path>
                  </svg>
                </a>
              </li>
              } @for (page of visiblePages; track $index) {
              <li
                class="page-item"
                [ngClass]="{ active: page === currentPage + 1 }"
              >
                <a
                  class="page-link"
                  href="javascript:;"
                  [style]="{
                    'pointer-events: none': page === currentPage + 1
                  }"
                  (click)="onPageChange(page - 1)"
                  >{{ page }}</a
                >
              </li>
              } @if (currentPage < totalPages - 1) {
              <li class="page-item">
                <a
                  class="page-link link-next-pre"
                  onclick="doSearch(2)"
                  href="javascript:;"
                  (click)="onPageChange(currentPage + 1)"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="12"
                    height="20"
                    viewBox="0 0 12 20"
                    fill="none"
                  >
                    <path
                      d="M11.1729 9.45117L1.92228 0.226167C1.6192 -0.0759023 1.12849 -0.0753945 0.825918 0.227729C0.523575 0.530814 0.524357 1.02179 0.827481 1.32409L9.52745 10L0.827168 18.6759C0.524083 18.9783 0.523302 19.4689 0.825605 19.7721C0.977285 19.924 1.17599 20 1.37471 20C1.57291 20 1.77084 19.9245 1.92224 19.7736L11.1729 10.5489C11.3188 10.4036 11.4008 10.206 11.4008 10C11.4008 9.7941 11.3186 9.59668 11.1729 9.45117Z"
                      fill="#9D9D9D"
                    ></path>
                  </svg>
                </a>
              </li>
              }
            </ul>
          </nav>
        </div>
        }
      </div>
    </div>
  </div>
</section>

<!-- Modal Nạp Tiền -->
<div
  class="modal fade"
  id="topupModal"
  tabindex="-1"
  aria-labelledby="topupModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="topupModalLabel">
          {{ "Wallet.TopUpToWallet" | translate }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="topupForm" [formGroup]="formTopUp" (ngSubmit)="btnTopUp()">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ "Wallet.Amount" | translate }} (VNĐ)</mat-label>
            <input
              min="0"
              matInput
              type="number"
              id="amount"
              formControlName="amount"
              [class.is-invalid]="
                formTopUp.get('amount')?.invalid &&
                formTopUp.get('amount')?.touched
              "
            />
            @if(formTopUp.get('amount')?.hasError('required')) {
            <mat-error style="font-size: 12px">
              {{ "Wallet.AmountRequired" | translate }}
            </mat-error>
            } @if(formTopUp.get('amount')?.hasError('min')) {
            <mat-error style="font-size: 12px">
              {{ "Wallet.AmountInvalid" | translate }}
            </mat-error>
            }
          </mat-form-field>
        </form>
      </div>
      <div class="modal-footer">
        <button
          mat-raised-button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          color="warn"
        >
          {{ "Wallet.Cancel" | translate }}
        </button>
        <button
          (click)="btnTopUp()"
          mat-raised-button
          type="submit"
          class="btn btn-primary"
          id="confirmTopup"
          color="accent"
        >
          {{ "Wallet.TopUp" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
}@loading {
<div class="preloader-wrapper">
  <div class="preloader"></div>
</div>
}
