.section-wallet {
  padding: 4rem 0px;
}

.header {
  background-color: var(--bs-accent);
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  position: relative;
}

.transactions {
  font-family: "Montserrat", sans-serif;
  margin-top: 1.5rem;
}

.t-desc {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.t-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.t-time {
  font-size: 0.9rem;
}

.t-amount {
  font-size: 1.2rem;
}
@media screen and (max-width: 768px) {
  .t-amount {
    font-size: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .t-amount {
    font-size: 0.8rem;
  }
  .t-current-balance {
    font-size: 0.8rem;
  }
  .t-title {
    font-size: 1rem;
  }

  .t-time {
    font-size: 0.8rem;
  }
}
.payment-success-container {
  text-align: center;
  padding: 50px;
  h1 {
    color: #4caf50;
    font-size: 2.5rem;
  }
  p {
    font-size: 1.25rem;
  }
  #fireworks-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
  }
}
.text-success {
  color: #00c292 !important;
}
.text-warning {
  color: #fec90f !important;
}
.badge-danger {
  background-color: #d9534f;
}
