<mat-card>
  <mat-card-content>
    <div class="col-lg-4">
      <mat-form-field appearance="outline">
        <mat-label>{{ "EnterStartAndEndDate" | translate }}</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
          <input
            matStartDate
            formControlName="start"
            placeholder="Start date"
            (dateChange)="onStartDateChange($event)"
          />
          <input
            matEndDate
            (dateChange)="onEndDateChange($event)"
            formControlName="end"
            placeholder="End date"
          />
        </mat-date-range-input>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>

        @if (range.controls.start.hasError('matStartDateInvalid')) {
        <mat-error>Invalid start date</mat-error>
        } @if (range.controls.end.hasError('matEndDateInvalid')) {
        <mat-error>Invalid end date</mat-error>
        }
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow overflow-hidden">
  <div class="row">
    <div class="col-lg-3 col-sm-6 col-6">
      <div class="p-3 text-center">
        <button mat-fab class="my-fab my-3 bg-light-accent">
          <mat-icon class="text-accent">people</mat-icon>
        </button>
        <mat-card-title class="mb-0 mt-30 fs-24 fw-500">
          {{ report?.addToCart }}&nbsp;
        </mat-card-title>
        <small class="text-black">Customers</small>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-6">
      <div class="p-3 text-center">
        <button mat-fab class="my-fab my-3 bg-light-warning">
          <mat-icon class="text-warning">inventory</mat-icon>
        </button>
        <mat-card-title class="mb-0 mt-30 fs-24 fw-500">
          4,396&nbsp;
        </mat-card-title>
        <small class="text-black">Products</small>
      </div>
    </div>

    <div class="col-lg-3 col-sm-6 col-6">
      <div class="p-3 text-center">
        <button mat-fab class="my-fab my-3 bg-light-error">
          <mat-icon class="text-error">bar_chart</mat-icon>
        </button>
        <mat-card-title class="mb-0 mt-30 fs-24 fw-500">
          423,39&nbsp;
        </mat-card-title>
        <small class="text-black">Sales</small>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-6">
      <div class="p-3 text-center">
        <button mat-fab class="my-fab my-3 bg-light-success">
          <mat-icon class="text-success">refresh</mat-icon>
        </button>
        <mat-card-title class="mb-0 mt-30 fs-24 fw-500">
          835&nbsp;
        </mat-card-title>
        <small class="text-black">Refunds</small>
      </div>
    </div>
  </div>
</mat-card>
<mat-card>
  <mat-card-content>
    <h4 class="mb-32">Sales Overview</h4>

    <div class="max-width">
      <apx-chart
        [series]="chartOptions.series"
        [dataLabels]="chartOptions.dataLabels"
        [chart]="chartOptions.chart"
        [legend]="chartOptions.legend"
        [xaxis]="chartOptions.xaxis"
        [grid]="chartOptions.grid"
        [stroke]="chartOptions.stroke"
        [tooltip]="chartOptions.tooltip"
        [plotOptions]="chartOptions.plotOptions"
      >
      </apx-chart>
    </div>
  </mat-card-content>
</mat-card>
