.section-profile {
  padding-top: 3rem;
  padding-bottom: 4rem;
}

.icon-size {
  font-size: 20px;
  vertical-align: middle;
}

.mat-list-item {
  padding: 10px 0;
}

.mat-list-item .mat-icon {
  display: inline-flex;
  align-items: center;
}
.active {
  background-color: #e0e0e0;
  font-weight: bold;
}

a.mat-list-item {
  transition: background-color 0.3s;
}

.mat-error {
  font-size: 12px;
}
.example-full-width {
  width: 100%;
}
