@defer () {
<app-header></app-header>
<app-breadcrumb></app-breadcrumb>

<div class="container section-profile">
  <div class="row flex-lg-nowrap">
    <!-- Sidebar Menu -->
    <div class="col-12 col-lg-auto mb-3" style="width: 230px">
      <mat-card>
        <mat-nav-list>
          <a
            mat-list-item
            class="d-flex justify-content-start align-items-center"
            (click)="btnChangeStatusPage(0)"
            [ngClass]="{ active: statusPage === 0 }"
          >
            <mat-icon class="icon-size">settings</mat-icon>
            <span class="ms-2">{{ "Overview" | translate }}</span>
          </a>
          <a
            mat-list-item
            class="d-flex justify-content-start align-items-center"
            (click)="btnChangeStatusPage(1)"
            [ngClass]="{ active: statusPage === 1 }"
          >
            <mat-icon class="icon-size">key</mat-icon>
            <span class="ms-2">{{ "ChangePassword" | translate }}</span>
          </a>
          <a
            mat-list-item
            class="d-flex justify-content-start align-items-center"
            (click)="btnChangeStatusPage(2)"
            [ngClass]="{ active: statusPage === 2 }"
          >
            <mat-icon class="icon-size">mail_outline</mat-icon>
            <span class="ms-2">{{ "ChangeEmail" | translate }}</span>
          </a>
        </mat-nav-list>
      </mat-card>
    </div>

    <!-- Profile and Form Section -->
    <div class="col">
      <div class="row">
        @if (statusPage === 0) {
        <div class="col mb-3">
          <mat-card>
            <mat-card-content class="mt-2">
              <div class="row">
                <!-- Profile Image Section -->
                <div class="col-12 col-sm-auto mb-3">
                  <div class="profile-img-container">
                    <div class="profile-img">
                      <img
                        width="140"
                        [src]="userAccount?.avatar"
                        alt="Profile Image"
                      />
                    </div>
                  </div>
                </div>

                <!-- Profile Info Section -->
                <div
                  class="col d-flex flex-column flex-sm-row justify-content-between mb-3"
                >
                  <div>
                    <h4>{{ userAccount?.name }}</h4>
                    <p>{{ userAccount?.gender }}</p>
                    <mat-divider class="mb-3"></mat-divider>
                    <button
                      mat-raised-button
                      color="primary"
                      (click)="fileInput.click()"
                      [disabled]="loadingUploadBtn().valueOf()"
                    >
                      <input
                        type="file"
                        #fileInput
                        (change)="onFileSelected($event)"
                        hidden
                      />
                      @if (loadingUploadBtn()) {
                      <mat-spinner diameter="24"></mat-spinner>
                      }@else {
                      {{ "UploadImage" | translate }}
                      }
                      <mat-icon>camera_alt</mat-icon>
                    </button>
                  </div>
                  <div class="text-end">
                    <mat-chip color="accent" selected class="mb-2">
                      {{ userAccount?.role }}
                    </mat-chip>
                    <div>
                      {{ "Joined" | translate }}
                      {{ userAccount?.createAt | date : "yyyy-MM-dd" }}
                    </div>
                  </div>
                </div>
              </div>

              <form [formGroup]="profileForm">
                <div class="row mt-3">
                  <div class="col-12 col-md-6 mb-3">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label> {{ "Sign.FullName" | translate }}</mat-label>
                      <input
                        matInput
                        type="text"
                        required
                        formControlName="name"
                        [class.is-invalid]="
                          profileForm.get('name')?.invalid &&
                          profileForm.get('name')?.touched
                        "
                        placeholder="Enter your name"
                      />
                      @if(profileForm.get('name')!.hasError('required')) {
                      <mat-error class="fs-14">
                        {{ "Sign.NameRequired" | translate }}
                      </mat-error>
                      }
                    </mat-form-field>
                    <mat-form-field class="w-100" appearance="outline">
                      <mat-label>{{ "Order.Phone" | translate }}</mat-label>
                      <input
                        matInput
                        type="phone"
                        required
                        formControlName="phone"
                        [class.is-invalid]="
                          profileForm.get('phone')?.invalid &&
                          profileForm.get('phone')?.touched
                        "
                      />
                      @if(profileForm.get('phone')!.hasError('required')) {
                      <mat-error class="fs-14">
                        {{ "Order.PhoneRequired" | translate }}
                      </mat-error>
                      } @if(profileForm.get('phone')!.hasError('pattern')) {
                      <mat-error class="fs-14">
                        {{ "Order.PhoneInvalid" | translate }}
                      </mat-error>
                      }
                    </mat-form-field>
                  </div>
                  <div class="col-12 col-md-6 mb-3">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Email</mat-label>
                      <input
                        matInput
                        type="email"
                        formControlName="email"
                        [class.is-invalid]="
                          profileForm.get('email')?.invalid &&
                          profileForm.get('email')?.touched
                        "
                        placeholder="Enter your email"
                      />
                      @if (profileForm.get('email')?.hasError('required')) {
                      <mat-error class="mat-error" style="font-size: 12px">
                        {{ "Sign.EmailRequired" | translate }}
                      </mat-error>
                      } @if (profileForm.get('email')?.hasError('email')) {
                      <mat-error class="mat-error" style="font-size: 12px">
                        {{ "Sign.EmailInvalid" | translate }}
                      </mat-error>
                      }
                    </mat-form-field>
                    <mat-form-field class="w-100" appearance="outline">
                      <mat-label style="font-size: 14px">
                        {{ "Sign.Gender" | translate }}</mat-label
                      >
                      <mat-select formControlName="gender">
                        @for (gender of genders; track gender) {
                        <mat-option [value]="gender">{{ gender }}</mat-option>
                        }
                      </mat-select>
                      @if (profileForm.get('gender')?.hasError('required')) {
                      <mat-error class="mat-error" style="font-size: 12px">
                        {{ "Sign.GenderRequired" | translate }}
                      </mat-error>
                      }
                    </mat-form-field>
                  </div>
                </div>
                <!-- Save Button -->
                <div class="d-flex justify-content-end">
                  <button
                    mat-raised-button
                    class="fs-16 p-24 text-white btn-success mb-2"
                    type="button"
                    extend
                    color="primary"
                    (click)="btnUpdateProfile()"
                    [disabled]="loadingSaveBtn().valueOf()"
                  >
                    @if (loadingSaveBtn()) {
                    <mat-spinner diameter="24"></mat-spinner>
                    }@else {
                    {{ "SaveChanges" | translate }}
                    }
                    <mat-icon>task_alt</mat-icon>
                  </button>
                </div>
              </form>
            </mat-card-content>
          </mat-card>
        </div>
        }@else if (statusPage === 1) {
        <div class="col mb-3">
          <mat-card>
            <mat-card-content>
              <div class="mb-4 d-flex align-items-center mt-3">
                <h5 class="primary-color">
                  {{ "ChangePassword" | translate }}
                </h5>
                <mat-icon style="font-size: 24px" class="ms-2 mb-2"
                  >key</mat-icon
                >
              </div>

              <form [formGroup]="changePasswordForm">
                <div class="row mt-3">
                  <div class="col-12 col-md-12 mb-3">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>{{ "CurrentPassword" | translate }}</mat-label>
                      <input
                        matInput
                        type="password"
                        [type]="hideCurrentPassword() ? 'password' : 'text'"
                        formControlName="currentPassword"
                        required
                      />
                      <button
                        mat-icon-button
                        type="button"
                        matSuffix
                        (click)="togglePasswordVisibility('current')"
                      >
                        <mat-icon>{{
                          hideCurrentPassword()
                            ? "visibility_off"
                            : "visibility"
                        }}</mat-icon>
                      </button>
                      @if
                      (changePasswordForm.get('currentPassword')?.hasError('required'))
                      {
                      <mat-error class="mat-error" style="font-size: 12px">
                        {{ "CurrentPasswordRequired" | translate }}
                      </mat-error>
                      }
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>{{ "NewPassword" | translate }}</mat-label>
                      <input
                        matInput
                        type="password"
                        [type]="hideNewPassword() ? 'password' : 'text'"
                        formControlName="newPassword"
                        required
                      />
                      <button
                        mat-icon-button
                        type="button"
                        matSuffix
                        (click)="togglePasswordVisibility('new')"
                      >
                        <mat-icon>{{
                          hideNewPassword() ? "visibility_off" : "visibility"
                        }}</mat-icon>
                      </button>
                      @if
                      (changePasswordForm.get('newPassword')?.hasError('required'))
                      {
                      <mat-error class="mat-error" style="font-size: 12px">
                        {{ "NewPasswordRequired" | translate }}
                      </mat-error>
                      }
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>{{ "RepeatPassword" | translate }}</mat-label>
                      <input
                        matInput
                        type="password"
                        [type]="hideRepeatPassword() ? 'password' : 'text'"
                        formControlName="repeatPassword"
                        required
                      />
                      <button
                        mat-icon-button
                        type="button"
                        matSuffix
                        (click)="togglePasswordVisibility('repeat')"
                      >
                        <mat-icon>{{
                          hideRepeatPassword() ? "visibility_off" : "visibility"
                        }}</mat-icon>
                      </button>
                      @if
                      (changePasswordForm.get('repeatPassword')?.hasError('required'))
                      {
                      <mat-error class="mat-error" style="font-size: 12px">
                        {{ "RepeatPasswordRequired" | translate }}
                      </mat-error>
                      }
                    </mat-form-field>
                  </div>
                </div>
                <!-- Save Button -->
                <div class="d-flex justify-content-end">
                  <button
                    mat-raised-button
                    class="fs-16 p-24 text-white btn-success mb-2"
                    type="button"
                    extend
                    color="primary"
                    (click)="btnChangePassword()"
                    [disabled]="loadingSaveBtn().valueOf()"
                  >
                    @if (loadingSaveBtn()) {
                    <mat-spinner diameter="24"></mat-spinner>
                    }@else {
                    {{ "SaveChanges" | translate }}
                    }

                    <mat-icon>task_alt</mat-icon>
                  </button>
                </div>
              </form>
            </mat-card-content>
          </mat-card>
        </div>
        }@else if (statusPage === 2) {
        <div class="col mb-3">
          <mat-card>
            <mat-card-content>
              <mat-stepper orientation="vertical" [linear]="true" #stepper>
                <mat-step [stepControl]="changeEmailForm">
                  <form [formGroup]="changeEmailForm">
                    <ng-template matStepLabel
                      >Enter your email to change</ng-template
                    >
                    <div class="row mt-3">
                      <div class="col-12 col md-12">
                        <mat-form-field appearance="outline" class="w-100">
                          <mat-label>Email</mat-label>
                          <mat-icon matPrefix class="mt-1"
                            >mail_outline</mat-icon
                          >
                          <input
                            matInput
                            type="email"
                            formControlName="email"
                            required
                          />
                          @if
                          (changeEmailForm.get('email')?.hasError('required')) {
                          <mat-error class="mat-error" style="font-size: 12px">
                            {{ "Sign.EmailRequired" | translate }}
                          </mat-error>
                          } @if
                          (changeEmailForm.get('email')?.hasError('email')) {
                          <mat-error class="mat-error" style="font-size: 12px">
                            {{ "Sign.EmailInvalid" | translate }}
                          </mat-error>
                          }
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="d-flex justify-content-end">
                      <button
                        mat-raised-button
                        class="fs-16 p-24 text-white btn-success mb-2"
                        type="button"
                        extend
                        color="primary"
                        (click)="btnChangeEmail()"
                        [disabled]="loadingChangeEmailBtn().valueOf()"
                      >
                        @if (loadingChangeEmailBtn()) {
                        <mat-spinner diameter="24"></mat-spinner>
                        }@else {
                        {{ "SendEmailBtn" | translate }}
                        }
                        <mat-icon>send</mat-icon>
                      </button>
                    </div>
                  </form>
                </mat-step>
                <!-- Step 2: OTP Verification -->
                <mat-step [stepControl]="verifyOTPForm">
                  <form [formGroup]="verifyOTPForm" class="my-2">
                    <ng-template matStepLabel>Enter OTP</ng-template>
                    <div class="row mt-3">
                      <div class="col-12 col md-12">
                        <mat-form-field appearance="outline" class="w-100">
                          <mat-label>Enter OTP</mat-label>
                          <mat-icon matPrefix>lock</mat-icon>
                          <input
                            matInput
                            type="text"
                            maxlength="6"
                            class="otp-box"
                            formControlName="otp"
                            required
                          />
                          @if (verifyOTPForm.get('otp')?.hasError('required')) {
                          <mat-error class="mat-error" style="font-size: 12px">
                            {{ "OTPRequired" | translate }}
                          </mat-error>
                          }
                        </mat-form-field>
                      </div>
                    </div>

                    <div
                      class="d-flex align-items-center justify-content-end mt-3"
                    >
                      <button class="me-3" mat-button matStepperPrevious>
                        Back
                      </button>
                      <button
                        mat-raised-button
                        color="primary"
                        (click)="btnVerifyOTP()"
                        [disabled]="loadingVerifyOTPBtn().valueOf()"
                      >
                        @if (loadingVerifyOTPBtn()) {
                        <mat-spinner diameter="24"></mat-spinner>
                        }@else {
                        {{ "Confirm" | translate }}
                        }
                      </button>
                    </div>
                  </form>
                </mat-step>

                <mat-step>
                  <ng-template matStepLabel>Done</ng-template>
                  <p>You are now done.</p>
                </mat-step>
              </mat-stepper>
            </mat-card-content>
          </mat-card>
        </div>
        }
        <!-- Support Section -->
        <div class="col-12 col-md-3 mb-3">
          <mat-card class="p-5 mb-3">
            <button
              mat-raised-button
              color="warn"
              class="w-100"
              (click)="btnLogOut()"
            >
              <mat-icon>exit_to_app</mat-icon> {{ "Header.LogOut" | translate }}
            </button>
          </mat-card>
          <mat-card>
            <mat-card-title class="text-center text-black fw-bold my-2">
              {{ "Support" | translate }}
            </mat-card-title>
            <mat-card-content>
              <p>{{ "SupportContent" | translate }}</p>
              <button
                routerLink="/contact"
                mat-raised-button
                color="primary"
                class="d-block mx-auto"
              >
                {{ "Header.Contact" | translate }}
              </button>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
}@loading {
<div class="preloader-wrapper">
  <div class="preloader"></div>
</div>
}
