<mat-card>
  <mat-card-content>
    <div class="row justify-content-between">
      <div class="col-lg-4 negative-margin">
        <mat-form-field appearance="outline">
          <input matInput type="text" placeholder="Tìm kiếm" />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-lg-4 d-flex align-items-center justify-content-end">
        <button
          mat-raised-button
          color="primary"
          routerLink="/admin/categories/new"
          style="padding: 20px 10px"
        >
          Thêm danh mục mới
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="w-100">
  <mat-card-content>
    <h4>Quản lý danh mục</h4>
    <div class="table-responsive mt-20">
      <table
      [dataSource]="dataSource"
      mat-table
      matSort 
      class="w-100 text-nowrap">
        <!-- <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef>Hình ảnh</th>
          <td mat-cell *matCellDef="let category">
            <a href="#">
              <img
                class="rounded"
                width="50px"
                height="50px"
                [src]="category.imageUrl"
                alt="#"
              />
            </a>
          </td>
        </ng-container> -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="id">Tên</th>
          <td mat-cell *matCellDef="let category">
            <p class="fw-medium mb-0">{{category.id}}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="name">Tên</th>
          <td mat-cell *matCellDef="let category">
            <p class="fw-medium mb-0">{{category.name}}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Các tác vụ</th>
          <td mat-cell *matCellDef="let category">
            <button
              mat-icon-button
              color="primary"
              routerLink="/admin/categories/"
            >
              <mat-icon aria-label="Edit">visibility</mat-icon>
            </button>
            <button mat-icon-button color="warn">
              <mat-icon aria-label="Delete">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
