@if (this.status === 0) {
    <mat-card>
      <mat-card-content>
        <div class="row justify-content-between">
            <div class="col-lg-4 d-flex align-items-center justify-content-end">
                <button mat-raised-button color="primary" style="padding: 20px 10px"
                  (click)="onPageChange(1)">
                  Thêm thông báo mới
                  <mat-icon>add</mat-icon>
                </button>
              </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="w-100">
      <mat-card-content>
        <h4 class="fw-bold primary-color">Quản lý thông báo</h4>
    
        <div class="col-12 d-flex align-items-center justify-content-center mb-5 mt-3"></div>
        <div class="table-responsive mt-20">
          <table mat-table [dataSource]="dataSource" matSort class="w-100 text-nowrap">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef class="fw-bold primary-color font-size">Id</th>
              <td mat-cell *matCellDef="let notification">
                    {{notification.id}}
              </td>
            </ng-container>
    
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="title" class="fw-bold primary-color font-size">
                  Tiêu đề</th>
                <td mat-cell *matCellDef="let notification">
                  <p class="mb-0 fw-bold">{{ notification.title }}</p>
                </td>
              </ng-container>

              <ng-container matColumnDef="message">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="message" class="fw-bold primary-color font-size">
                  Nội dung</th>
                <td mat-cell *matCellDef="let notification">
                  <p class="mb-0 fw-bold">{{ notification.message }}</p>
                </td>
              </ng-container>
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="type" class="fw-bold primary-color font-size">
                  Nội dung</th>
                <td mat-cell *matCellDef="let notification">
                  <p class="mb-0 fw-bold">{{ notification.type }}</p>
                </td>
              </ng-container>
    
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef class="fw-bold primary-color font-size">{{"Actions"| translate}}</th>
              <td mat-cell *matCellDef="let product">
                @if (product.status === 'PENDING' ) {
                <button mat-icon-button class="status-approved">
                  <mat-icon aria-label="check" class="fw-bold">check</mat-icon>
                </button>
                <button mat-icon-button class="status-rejected">
                  <mat-icon aria-label="do_not_disturb_on" class="fw-bold"
                    >do_not_disturb_on</mat-icon>
                </button>
                }
                <button type="button" mat-icon-button class="status-pending">
                  <mat-icon aria-label="visibility" class="fw-bold">visibility</mat-icon>
                </button>
              </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
}@else if(this.status == 1){
    <div class="card">
        <div class="card-body">
          <h4 class="mb-32 primary-color">Thêm thông báo mới</h4>
          <form [formGroup]="notificationForm">
            <h6 class="mb-3">Tên thông báo</h6>
            <mat-form-field class="w-100 fs-16" appearance="outline">
              <mat-label>Nhập tên thông báo</mat-label>
              <input matInput type="text" required formControlName="title" />
            </mat-form-field>
            
            <mat-form-field class="w-100 fs-16" appearance="outline">
                <mat-label>Nhập nội dung</mat-label>
                <input matInput type="text" required formControlName="message" />
              </mat-form-field>
            
            <mat-form-field class="w-100 fs-16" appearance="outline">
              <mat-label>Loại thông báo</mat-label>
              <mat-select  formControlName="type" [(value)]="selectedNotificationType">
                 @for (type of notificationEnum; track $index) {
                <mat-option [value]="type">{{type}}</mat-option>
                } 
              </mat-select>
            </mat-form-field>

            <mat-form-field class="w-100 fs-16" appearance="outline">
                <mat-label>Đích đến</mat-label>
                <mat-select  formControlName="destinationScreen" [(value)]="selectedNotificationDestinaion">
                    @for (destination of destinationEnum; track $index) {
                        <mat-option [value]="destination">{{destination}}</mat-option>
                        }
                </mat-select>
              </mat-form-field>

              <mat-form-field class="w-100 fs-16" appearance="outline">
                <mat-label>Thời gian phát hành</mat-label>
                <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                <input matInput [matDatepicker]="datePicker" formControlName="scheduledTime" placeholder="Chọn ngày và giờ">
                <mat-datepicker #datePicker></mat-datepicker>
              </mat-form-field>
              
      
            <div class="d-flex justify-content-end mt-5">
              <button mat-raised-button class="fs-20 p-15" color="accent" type="submit" (click)="btnAddNewNotification()">
                Thêm thông báo
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </form>
        </div>
      </div>
}