<!-- Danh sach san pham -->
@if (statusPage === 0) { @if (listFlower.length > 0) {

<mat-card
  ><mat-card-content
    ><div class="row justify-content-between">
      <div class="col-lg-4 negative-margin">
        <mat-form-field appearance="outline">
          <input
            matInput
            type="text"
            placeholder="Tìm kiếm"
            (keyup)="applyFilter($event)"
            #input
          />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-lg-4 d-flex align-items-center justify-content-end">
        <button
          mat-raised-button
          color="primary"
          extend
          style="padding: 20px 10px"
          (click)="btnChangeStatusPage(1)"
        >
          Thêm sản phẩm mới
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content></mat-card
>
<mat-card class="w-100">
  <mat-card-content>
    <h4 class="primary-color">Quản lý sản phẩm</h4>

    <div
      class="col-12 d-flex align-items-center justify-content-center mb-5 mt-3"
    ></div>
    <div class="table-responsive mt-20">
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="w-100 text-nowrap"
      >
        <ng-container matColumnDef="image">
          <th class="fw-bold primary-color" mat-header-cell *matHeaderCellDef>
            Hình ảnh
          </th>
          <td mat-cell *matCellDef="let product">
            <a [href]="product.imageUrl">
              <img
                class="rounded"
                width="50px"
                height="50px"
                [src]="product.imageUrl"
                [alt]="product.name"
              />
            </a>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th
            class="fw-bold primary-color"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header="name"
          >
            Tên
          </th>
          <td mat-cell *matCellDef="let product">
            <p class="mb-0 fw-bold">{{ product.name }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th class="fw-bold primary-color" mat-header-cell *matHeaderCellDef>
            Danh mục
          </th>
          <td mat-cell *matCellDef="let product">
            @for (category of product.categories; track $index) {
            <div class="fw-bold">
              <!-- <img
                [src]="category.imageUrl"
                alt="{{ category.name }}"
                width="20"
                height="20"
              /> -->
              {{ category.name }}
            </div>
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th
            class="fw-bold primary-color"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header="price"
          >
            Giá
          </th>
          <td mat-cell *matCellDef="let product">
            <p class="fw-bold mb-0">{{ product.price | number : "1.0" }}₫</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="stockQuantity">
          <th
            class="fw-bold primary-color"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header="stockQuantity"
          >
            Số lượng
          </th>
          <td mat-cell *matCellDef="let product">
            <p class="fw-bold mb-0">{{ product.stockQuantity }}</p>
          </td>
        </ng-container>
        >

        <ng-container matColumnDef="status">
          <th
            class="fw-bold primary-color"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header="status"
          >
            Trạng thái
          </th>
          <td mat-cell *matCellDef="let product">
            <p
              class="badge fw-bold mb-0"
              [ngClass]="{
                'badge-success': product.status === 'APPROVED',
                'badge-warning': product.status === 'PENDING'
              }"
            >
              {{ product.status }}
            </p>
          </td>
        </ng-container>
        >

        <ng-container matColumnDef="action">
          <th class="fw-bold primary-color" mat-header-cell *matHeaderCellDef>
            Các thao tác
          </th>
          <td mat-cell *matCellDef="let product">
            <button
              (click)="btnViewProductDetails(product.id)"
              mat-icon-button
              color="primary"
            >
              <mat-icon aria-label="Edit">edit</mat-icon>
            </button>
            <button
              data-bs-toggle="modal"
              data-bs-target="#deleteProductModal"
              mat-icon-button
              color="warn"
            >
              <mat-icon aria-label="Delete">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>

} @else {
<mat-card class="w-100 text-center mt-5">
  <mat-card-content>
    <h4>Không có sản phẩm nào!</h4>
    <p>Hiện tại chưa có sản phẩm nào trong danh sách.</p>
    <button mat-raised-button color="primary" (click)="btnChangeStatusPage(1)">
      Thêm sản phẩm mới
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
}
<!-- Tạo mới sản phẩm hoặc cập nhật -->
}@else if (statusPage === 1 || statusPage === 2) {
<mat-card class="w-100">
  <mat-card-content>
    <div class="d-flex align-items-center justify-content-between flex-wrap">
      @if (statusPage === 1) {
      <h4 class="mb-3">Tạo mới sản phẩm</h4>

      }@else if (statusPage === 2) {
      <h4 class="mb-3">Chi tiết sản phẩm</h4>
      }
      <div>
        <button
          mat-raised-button
          color="warn"
          extend
          class="btn me-2 fs-16 p-24 mb-2"
          style="padding: 20px"
          (click)="btnChangeStatusPage(0)"
        >
          Quay lại
          <mat-icon>reply</mat-icon>
        </button>
        @if (statusPage === 1) {
        <button
          mat-raised-button
          class="fs-16 p-24 text-white btn-success mb-2"
          type="button"
          extend
          style="background-color: var(--bs-success)"
          (click)="btnCreateNewProduct()"
        >
          Hoàn tất
          <mat-icon>task_alt</mat-icon>
        </button>
        }@else if (statusPage === 2) {
        <button
          mat-raised-button
          class="fs-16 p-24 text-white btn-success mb-2"
          type="button"
          extend
          style="background-color: var(--bs-success)"
          (click)="btnUpdateProduct()"
        >
          Cập nhật
          <mat-icon>task_alt</mat-icon>
        </button>
        }
      </div>
    </div>
    <form [formGroup]="productForm">
      <h6 class="mb-3 mt-5">Ảnh sản phẩm</h6>
      <div class="upload-section">
        <div
          class="file-square"
          [ngClass]="{ 'file-square-error': isPictureError }"
        >
          <input
            type="file"
            id="cover-image"
            (change)="onImageUpload($event)"
            style="display: none"
            accept="image/*"
          />
          <label for="cover-image">
            <i class="material-icons">add_photo_alternate</i>
            <span class="fs-12 mt-2 upload-title">Thêm hình ảnh</span>
          </label>
        </div>

        @if (uploadedImage) {
        <div class="uploaded-images">
          <div class="uploaded-image ms-2">
            <img
              width="100px"
              height="100px"
              style="object-fit: cover"
              [src]="uploadedImage"
              alt="Product Image"
            />
          </div>
        </div>
        }
      </div>

      @if (isPictureError) {
      <mat-error class="fs-12 mb-2 ms-3" style="visibility: visible"
        >Vui lòng tải ảnh bìa</mat-error
      >
      }@else {
      <mat-error style="visibility: hidden">Vui lòng tải ảnh bìa</mat-error>
      }

      <div class="row mb-3">
        <div class="col-12 col-sm-8 mb-3">
          <h6 class="mb-3">Tên sản phẩm</h6>
          <mat-form-field class="w-100 fs-16" appearance="outline">
            <mat-label>Nhập tên sản phẩm</mat-label>
            <input
              matInput
              type="text"
              required
              formControlName="name"
              [class.is-invalid]="
                productForm.get('name')?.invalid &&
                productForm.get('name')?.touched
              "
            />
            @if (productForm.get('name')?.hasError('required')) {
            <mat-error class="fs-12"
              >Tên sản phẩm không được để trống</mat-error
            >
            }@else if (productForm.get('name')?.hasError('minlength')) {
            <mat-error class="fs-12"
              >Tên sản phẩm quá ngắn. Ít nhất 5 ký tự</mat-error
            >
            }
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-4 mb-3">
          <h6 class="mb-3">Danh mục sản phẩm</h6>
          <div>
            <button
              mat-raised-button
              color="primary"
              type="button"
              class="btn w-100"
              style="padding: 28px 0"
              [matMenuTriggerFor]="categoryMenu"
            >
              @if (selectedCategories.length > 0) { @for (category of
              selectedCategories; track $index) {
              {{ category.name }}. } }@else { Chọn danh mục }
              <mat-icon>chevron_right</mat-icon>
            </button>
            @if (isCategoryError) {
            <mat-error class="fs-12 mb-2 ms-4" style="visibility: visible">
              Danh mục không được để trống
            </mat-error>
            }@else {
            <mat-error style="visibility: hidden">
              Danh mục không được để trống
            </mat-error>
            }
          </div>
        </div>
      </div>

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <h6 class="mb-3">Giá sản phẩm (VNĐ)</h6>
            <mat-form-field class="w-100 fs-16" appearance="outline">
              <mat-label>Nhập giá</mat-label>
              <input
                matInput
                type="number"
                formControlName="price"
                min="1000"
                [class.is-invalid]="
                  productForm.get('price')?.invalid &&
                  productForm.get('price')?.touched
                "
              />
              @if (productForm.get('price')?.hasError('required')) {
              <mat-error class="fs-12">Giá không được để trống</mat-error>
              }@else if (productForm.get('price')?.hasError('min')) {
              <mat-error class="fs-12">Giá sản phẩm phải trên 1.000đ</mat-error>
              }
            </mat-form-field>
          </td>
          <td>
            <h6 class="mb-3">Số lượng sản phẩm</h6>
            <mat-form-field class="w-100 fs-16" appearance="outline">
              <mat-label>Nhập số lượng</mat-label>
              <input
                matInput
                type="number"
                min="1"
                formControlName="stockQuantity"
                [class.is-invalid]="
                  productForm.get('stockQuantity')?.invalid &&
                  productForm.get('stockQuantity')?.touched
                "
              />
              @if (productForm.get('stockQuantity')?.hasError('required')) {
              <mat-error class="fs-12">Số lượng không được để trống</mat-error>
              }@else if (productForm.get('stockQuantity')?.hasError('min')) {
              <mat-error class="fs-12">Số lượng sản phẩm phải trên 1</mat-error>
              }
            </mat-form-field>
          </td>
          <td>
            <h6 class="mb-3">Địa chỉ</h6>
            <mat-form-field class="w-100 fs-16" appearance="outline">
              <mat-label>Nhập địa chỉ</mat-label>
              <input
                matInput
                type="text"
                min="0"
                formControlName="address"
                [class.is-invalid]="
                  productForm.get('address')?.invalid &&
                  productForm.get('address')?.touched
                "
              />
              @if (productForm.get('address')?.hasError('required') ) {
              <mat-error class="fs-12">Địa chỉ không được để trống</mat-error>
              } @if (productForm.get('address')?.hasError('minlength') ) {
              <mat-error class="fs-12"
                >Địa chỉ quá ngắn. Ít nhất 5 ký tự</mat-error
              >
              }
            </mat-form-field>
          </td>
        </tr>
      </table>

      <h6 class="mb-3 mt-3">Mô tả sản phẩm</h6>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Nhập mô tả</mat-label>
        <textarea
          matInput
          rows="6"
          formControlName="description"
          [class.is-invalid]="
            productForm.get('description')?.invalid &&
            productForm.get('description')?.touched
          "
        ></textarea>
        @if (productForm.get('description')?.hasError('required')) {
        <mat-error class="fs-12">Mô tả không được để trống</mat-error>
        }@else if (productForm.get('description')?.hasError('minlength')) {
        <mat-error class="fs-12"
          >Mô tả sản phẩm quá ngắn. Ít nhất 100 ký tự</mat-error
        >
        }
      </mat-form-field>

      <mat-menu #categoryMenu="matMenu" yPosition="above">
        @for (category of categories ; track $index) {
        <button
          mat-menu-item
          (mouseover)="setCurrentSelectedCategory(category)"
          [matMenuTriggerFor]="subCategoryMenu"
        >
          {{ category.name }}
        </button>
        }
      </mat-menu>

      <mat-menu #subCategoryMenu="matMenu" yPosition="above">
        @if (selectedCurrentCategory) { @for (subcategory of
        selectedCurrentCategory.children; track $index) {
        <button mat-menu-item (click)="btnSelectCategory(subcategory)">
          {{ subcategory.name }}
        </button>
        } }
      </mat-menu>
    </form>
  </mat-card-content>
</mat-card>
}
