<!-- Danh sach san pham -->
@if (statusPage === 0) { @if (listFlower.length > 0) {

<mat-card
  ><mat-card-content
    ><div class="row justify-content-between">
      <div class="col-lg-4 negative-margin">
        <mat-form-field appearance="outline">
          <input
            matInput
            type="text"
            placeholder="{{ 'Header.Search' | translate }}"
            (keyup)="applyFilter($event)"
            #input
          />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-lg-4 d-flex align-items-center justify-content-end">
        <button
          mat-raised-button
          color="primary"
          extend
          style="padding: 20px 10px"
          (click)="btnChangeStatusPage(1)"
        >
          {{ "AddNewProduct" | translate }}
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content></mat-card
>
<mat-card class="w-100">
  <mat-card-content>
    <h4 class="primary-color">{{ "ProductManagement" | translate }}</h4>

    <div
      class="col-12 d-flex align-items-center justify-content-center mb-5 mt-3"
    ></div>
    <div class="table-responsive mt-20">
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="w-100 text-nowrap"
      >
        <ng-container matColumnDef="image">
          <th class="fw-bold primary-color" mat-header-cell *matHeaderCellDef>
            {{ "Cart.Image" | translate }}
          </th>
          <td mat-cell *matCellDef="let product">
            <a [href]="product.images[0].url">
              <img
                class="rounded"
                width="50px"
                height="50px"
                [src]="product.images[0].url"
                [alt]="product.name"
              />
            </a>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th
            class="fw-bold primary-color"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header="name"
          >
            {{ "Cart.Name" | translate }}
          </th>
          <td mat-cell *matCellDef="let product">
            <p class="mb-0 fw-bold">{{ product.name }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th class="fw-bold primary-color" mat-header-cell *matHeaderCellDef>
            {{ "Products.Category" | translate }}
          </th>
          <td mat-cell *matCellDef="let product">
            @for (category of product.categories; track $index) {
            <div class="fw-bold">
              <!-- <img
                [src]="category.imageUrl"
                alt="{{ category.name }}"
                width="20"
                height="20"
              /> -->
              {{ category.name }}
            </div>
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th
            class="fw-bold primary-color"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header="price"
          >
            {{ "Cart.Price" | translate }}
          </th>
          <td mat-cell *matCellDef="let product">
            <p class="fw-bold mb-0">{{ product.price | number : "1.0" }}₫</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="stockQuantity">
          <th
            class="fw-bold primary-color"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header="stockQuantity"
          >
            {{ "Cart.Quantity" | translate }}
          </th>
          <td mat-cell *matCellDef="let product">
            <p class="fw-bold mb-0">{{ product.stockQuantity }}</p>
          </td>
        </ng-container>
        >

        <ng-container matColumnDef="status">
          <th
            class="fw-bold primary-color"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header="status"
          >
            {{ "Status" | translate }}
          </th>
          <td mat-cell *matCellDef="let product">
            <p
              class="badge fw-bold mb-0"
              [ngClass]="{
                'badge-success': product.status === 'APPROVED',
                'badge-warning': product.status === 'PENDING'
              }"
            >
              {{ product.status }}
            </p>
          </td>
        </ng-container>
        >

        <ng-container matColumnDef="action">
          <th class="fw-bold primary-color" mat-header-cell *matHeaderCellDef>
            {{ "Actions" | translate }}
          </th>
          <td mat-cell *matCellDef="let product">
            <button
              (click)="btnViewProductDetails(product.id)"
              mat-icon-button
              color="primary"
            >
              <mat-icon aria-label="Edit">edit</mat-icon>
            </button>
            <button
              data-bs-toggle="modal"
              data-bs-target="#deleteProductModal"
              mat-icon-button
              color="warn"
            >
              <mat-icon aria-label="Delete">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>

} @else {
<mat-card class="w-100 text-center mt-5">
  <mat-card-content>
    <h4>{{ "NoProducts" | translate }}</h4>
    <p>{{ "NoProductsInList" | translate }}</p>
    <button mat-raised-button color="primary" (click)="btnChangeStatusPage(1)">
      {{ "AddNewProduct" | translate }}
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
}
<!-- Tạo mới sản phẩm hoặc cập nhật -->
}@else if (statusPage === 1 || statusPage === 2) {
<mat-card class="w-100">
  <mat-card-content>
    <div class="d-flex align-items-center justify-content-between flex-wrap">
      @if (statusPage === 1) {
      <h4 class="mb-3">{{ "AddNewProduct" | translate }}</h4>

      }@else if (statusPage === 2) {
      <h4 class="mb-3">{{ "ProductDetails" | translate }}</h4>
      }
      <div>
        <button
          mat-raised-button
          color="warn"
          extend
          class="btn me-2 fs-16 p-24 mb-2"
          style="padding: 20px"
          (click)="btnChangeStatusPage(0)"
        >
          {{ "Back" | translate }}
          <mat-icon>reply</mat-icon>
        </button>
        @if (statusPage === 1) {
        <button
          mat-raised-button
          class="fs-16 p-24 text-white btn-success mb-2"
          type="button"
          extend
          style="background-color: var(--bs-success)"
          (click)="btnCreateNewProduct()"
        >
          {{ "Finish" | translate }}
          <mat-icon>task_alt</mat-icon>
        </button>
        }@else if (statusPage === 2) {
        <button
          mat-raised-button
          class="fs-16 p-24 text-white btn-success mb-2"
          type="button"
          extend
          style="background-color: var(--bs-success)"
          (click)="btnUpdateProduct()"
        >
          {{ "Update" | translate }}
          <mat-icon>task_alt</mat-icon>
        </button>
        }
      </div>
    </div>
    <form [formGroup]="productForm">
      <h6 class="mb-2 mt-5">{{ "ProductImage" | translate }}</h6>
      <div class="upload-section mb-3">
        <div
          class="file-square"
          [ngClass]="{ 'file-square-error': isPictureError }"
        >
          <input
            type="file"
            id="cover-image"
            (change)="onImageUpload($event)"
            style="display: none"
            accept="image/*"
          />
          <label for="cover-image">
            <i class="material-icons upload-icon">add_photo_alternate</i>
            <span class="fs-12 upload-title">{{ "AddImage" | translate }}</span>
            <span class="text-center">({{ uploadedImages.length }}/5)</span>
          </label>
        </div>
        @if (uploadedImages.length > 0) {

        <div class="uploaded-images">
          @for (image of uploadedImages; track $index) {
          <div
            class="uploaded-image"
            draggable="true"
            (dragstart)="onDragStart($event, image)"
            (dragover)="onDragOver($event)"
            (drop)="onDrop($event, image)"
          >
            <img
              width="100px"
              height="100px"
              style="object-fit: cover"
              [src]="image"
              alt="Product Image"
            />
            <button
              type="button"
              mat-icon-button
              matBadge="X"
              matBadgeColor="warn"
              class="remove-badge"
              (click)="removeImage(image)"
              aria-label="Remove image"
            >
              <mat-icon>close</mat-icon>
            </button>
          </div>
          }
        </div>
        } @if (isPictureError) {
        <mat-error class="fs-12 mb-2 ms-3" style="visibility: visible">{{
          "CoverPhotoRequired" | translate
        }}</mat-error>
        }@else {
        <mat-error style="visibility: hidden">{{
          "CoverPhotoRequired" | translate
        }}</mat-error>
        }
      </div>
      <h6 class="mb-2">{{ "CoverPhoto" | translate }}</h6>
      <div class="d-flex flex-wrap align-items-center">
        @if (uploadedImages.length > 0) {
        <div class="file-square mb-5">
          <img
            width="100px"
            height="100px"
            style="object-fit: cover"
            [src]="uploadedImages[0]"
            alt=""
          />
        </div>
        }@else {
        <div class="file-square mb-5">
          <label for="product-image">
            <button mat-button type="button" disabled class="mb-2 mt-2">
              <i class="material-icons">image</i>
            </button>
            <span class="text-center">(0/1)</span>
          </label>
        </div>
        }
        <ul style="list-style-type: disc !important" class="ms-3 text-muted">
          <li>{{ "UploadImageDes1" | translate }}</li>
          <li>
            {{ "UploadImageDes2" | translate }}
          </li>
        </ul>
      </div>

      <h6 class="mb-3">{{ "ProductName" | translate }}</h6>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>{{ "ProductNameEnter" | translate }}</mat-label>
        <input
          matInput
          type="text"
          required
          formControlName="name"
          [class.is-invalid]="
            productForm.get('name')?.invalid && productForm.get('name')?.touched
          "
        />
        @if (productForm.get('name')?.hasError('required')) {
        <mat-error class="fs-12">{{
          "ProductNameRequired" | translate
        }}</mat-error>
        }@else if (productForm.get('name')?.hasError('minlength')) {
        <mat-error class="fs-12">{{
          "ProductNameInvalid" | translate
        }}</mat-error>
        }
      </mat-form-field>
      <h6 class="mb-3">{{ "ProductCategory" | translate }}</h6>
      <mat-form-field class="w-100 select-category" appearance="outline">
        <mat-label>{{ "ProductCategory" | translate }}</mat-label>
        <input
          matInput
          [value]="selectedCategoriesLabel"
          readonly
          (click)="$event.stopPropagation()"
          [matMenuTriggerFor]="categoryMenu"
        />
        <mat-icon [matMenuTriggerFor]="categoryMenu" matSuffix>edit</mat-icon>

        @if (isCategoryError) {
        <mat-error class="fs-12 mb-2 ms-4" style="visibility: visible">
          {{ "ProductCategoryRequired" | translate }}
        </mat-error>
        }@else {
        <mat-error style="visibility: hidden">
          {{ "ProductCategoryRequired" | translate }}
        </mat-error>
        }
      </mat-form-field>

      <h6 class="mb-3">{{ "Order.Address" | translate }}</h6>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>{{ "AddressEnter" | translate }}</mat-label>
        <input
          matInput
          type="text"
          min="0"
          formControlName="address"
          [class.is-invalid]="
            productForm.get('address')?.invalid &&
            productForm.get('address')?.touched
          "
          [matAutocomplete]="autoSuggestAddress"
        />
        <mat-autocomplete
          autoActiveFirstOption
          #autoSuggestAddress="matAutocomplete"
        >
          @for (address of suggestAddresses; track $index) {
          <mat-option [value]="address.FullName">{{
            address.FullName
          }}</mat-option>
          }
        </mat-autocomplete>
        @if (productForm.get('address')?.hasError('required') ) {
        <mat-error class="fs-12">{{
          "Order.AddressRequired" | translate
        }}</mat-error>
        } @if (productForm.get('address')?.hasError('minlength') ) {
        <mat-error class="fs-12">{{
          "Order.AddressInvalid" | translate
        }}</mat-error>
        }
      </mat-form-field>

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <h6 class="mb-3">{{ "ProductPrice" | translate }}</h6>
            <mat-form-field class="w-100 fs-16" appearance="outline">
              <mat-label> {{ "ProductPriceEnter" | translate }}</mat-label>
              <input
                matInput
                type="number"
                formControlName="price"
                min="1000"
                [class.is-invalid]="
                  productForm.get('price')?.invalid &&
                  productForm.get('price')?.touched
                "
              />
              @if (productForm.get('price')?.hasError('required')) {
              <mat-error class="fs-12">
                {{ "ProductPriceRequired" | translate }}</mat-error
              >
              }@else if (productForm.get('price')?.hasError('min')) {
              <mat-error class="fs-12">
                {{ "ProductPriceInvalid" | translate }}</mat-error
              >
              }
            </mat-form-field>
          </td>
          <td>
            <h6 class="mb-3">{{ "ProductQuantity" | translate }}</h6>
            <mat-form-field class="w-100 fs-16" appearance="outline">
              <mat-label>{{ "ProductQuantityEnter" | translate }}</mat-label>
              <input
                matInput
                type="number"
                min="1"
                formControlName="stockQuantity"
                [class.is-invalid]="
                  productForm.get('stockQuantity')?.invalid &&
                  productForm.get('stockQuantity')?.touched
                "
              />
              @if (productForm.get('stockQuantity')?.hasError('required')) {
              <mat-error class="fs-12">{{
                "ProductQuantityRequired" | translate
              }}</mat-error>
              }@else if (productForm.get('stockQuantity')?.hasError('min')) {
              <mat-error class="fs-12">{{
                "ProductQuantityInvalid" | translate
              }}</mat-error>
              }
            </mat-form-field>
          </td>
          <td>
            <h6 class="mb-3">{{ "ExpireDate" | translate }}</h6>
            <mat-form-field appearance="outline">
              <mat-label>{{ "ExpireDate" | translate }}</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                formControlName="expireDate"
                [class.is-invalid]="
                  productForm.get('expireDate')?.invalid &&
                  productForm.get('expireDate')?.touched
                "
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              @if (productForm.get('expireDate')?.hasError('required')) {
              <mat-error class="fs-12">{{
                "ExpireDateRequired" | translate
              }}</mat-error>
              }
            </mat-form-field>
          </td>
        </tr>
      </table>

      <h6 class="mb-3 mt-3">{{ "ProductDescription" | translate }}</h6>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>{{ "ProductDescriptionEnter" | translate }}</mat-label>
        <textarea
          matInput
          rows="6"
          formControlName="description"
          [class.is-invalid]="
            productForm.get('description')?.invalid &&
            productForm.get('description')?.touched
          "
        ></textarea>
        @if (productForm.get('description')?.hasError('required')) {
        <mat-error class="fs-12">{{
          "ProductDescriptionRequired" | translate
        }}</mat-error>
        }@else if (productForm.get('description')?.hasError('minlength')) {
        <mat-error class="fs-12">{{
          "ProductDescriptionInvalid" | translate
        }}</mat-error>
        }
      </mat-form-field>

      <mat-menu #categoryMenu="matMenu" yPosition="above">
        @for (category of categories ; track $index) {
        <button
          mat-menu-item
          (mouseover)="setCurrentSelectedCategory(category)"
          [matMenuTriggerFor]="subCategoryMenu"
        >
          {{ category.name }}
        </button>
        }
      </mat-menu>

      <mat-menu #subCategoryMenu="matMenu" yPosition="above">
        @if (selectedCurrentCategory) { @for (subcategory of
        selectedCurrentCategory.children; track $index) {
        <button mat-menu-item (click)="btnSelectCategory(subcategory)">
          {{ subcategory.name }}
        </button>
        } }
      </mat-menu>
    </form>
  </mat-card-content>
</mat-card>
}
