@defer () {
<app-header></app-header>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-6 order">
        <img
          src="assets/images/reset-password-amico.svg"
          alt="Image"
          class="img-fluid"
        />
      </div>
      <div class="col-md-6 contents mt-3">
        <div class="row justify-content-center">
          <div class="col-md-9">
            <div class="mb-4">
              <h3>
                {{ "ResetPassword" | translate }}
              </h3>
              <p class="my-3">
                {{ "ResetPasswordHint" | translate }}
              </p>
            </div>
            <form [formGroup]="resetPasswordForm">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label style="font-size: 14px">{{
                  "NewPassword" | translate
                }}</mat-label>
                <input
                  matInput
                  type="password"
                  required
                  formControlName="newPassword"
                  [class.is-invalid]="
                    resetPasswordForm.get('newPassword')?.invalid &&
                    resetPasswordForm.get('newPassword')?.touched
                  "
                  [type]="hideNewPassword() ? 'password' : 'text'"
                />
                <button
                  mat-icon-button
                  type="button"
                  matSuffix
                  (click)="togglePasswordVisibility('new')"
                >
                  <mat-icon>{{
                    hideNewPassword() ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
                @if(resetPasswordForm.get('newPassword')?.hasError('required'))
                {
                <mat-error style="font-size: 12px">
                  {{ "NewPasswordRequired" | translate }}
                </mat-error>
                }
              </mat-form-field>
              <mat-form-field class="w-100" appearance="outline">
                <mat-label style="font-size: 14px">{{
                  "RepeatPassword" | translate
                }}</mat-label>
                <input
                  matInput
                  type="password"
                  required
                  formControlName="repeatPassword"
                  [class.is-invalid]="
                    resetPasswordForm.get('repeatPassword')?.invalid &&
                    resetPasswordForm.get('repeatPassword')?.touched
                  "
                  [type]="hideRepeatPassword() ? 'password' : 'text'"
                />
                <button
                  mat-icon-button
                  type="button"
                  matSuffix
                  (click)="togglePasswordVisibility('repeat')"
                >
                  <mat-icon>{{
                    hideRepeatPassword() ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
                @if(resetPasswordForm.get('repeatPassword')?.hasError('required'))
                {
                <mat-error style="font-size: 12px">
                  {{ "RepeatPasswordRequired" | translate }}
                </mat-error>
                }
              </mat-form-field>
              <button
                mat-raised-button
                color="primary"
                class="w-100 p-20"
                [disabled]="loadingBtn().valueOf()"
                type="button"
                (click)="btnResetPassword()"
              >
                @if (loadingBtn()) {
                <mat-spinner diameter="24"></mat-spinner>
                }@else {
                {{ "Confirm" | translate }}
                }
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
}@loading {
<div class="preloader-wrapper">
  <div class="preloader"></div>
</div>
}
