<app-header></app-header>
<div class="w-100 mt-4 mb-4 d-flex justify-content-center align-items-center">
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <h2
      style="color: #f199a1; padding: 20px"
      class="d-flex justify-content-center align-items-center"
    >
      Đặt lại mật khẩu
    </h2>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Nhập mật khẩu mới</mat-label>
      <input
        matInput
        type="password"
        id="password"
        formControlName="password"
      />
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Nhập lại mật khẩu mới </mat-label>
      <input
        matInput
        type="password"
        id="confirmPassword"
        formControlName="confirmPassword"
      />
    </mat-form-field>
    <div
      class="example-button-row d-flex justify-content-center align-items-center"
    >
      <button
        type="submit"
        color="primary"
        class="btn"
        style="padding: 20px"
        mat-raised-button
      >
        Xác nhận
      </button>
    </div>
  </form>
</div>
<app-footer></app-footer>
