.content {
  padding-top: 7rem;
  padding-bottom: 4rem;
}

@media screen and (max-width: 430px) {
  .content {
    padding-top: 13rem !important;
  }
}

@media screen and (max-width: 375px) {
  .content {
    padding-top: 14rem !important;
  }
}
