@defer () {
<app-header></app-header>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-6 order">
        <img
          src="assets/images/reset-password-amico.svg"
          alt="Image"
          class="img-fluid"
        />
      </div>
      <div class="col-md-6 contents mt-3">
        <div class="row justify-content-center">
          <div class="col-md-9">
            <div class="mb-4">
              <h3>
                {{ "ResetPassword" | translate }}
              </h3>
              <p class="my-3">
                {{ "ResetPasswordHint" | translate }}
              </p>
            </div>
            <form [formGroup]="resetPasswordForm">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label style="font-size: 14px">{{
                  "NewPassword" | translate
                }}</mat-label>
                <input
                  matInput
                  type="password"
                  required
                  formControlName="newPassword"
                  [class.is-invalid]="
                    resetPasswordForm.get('newPassword')?.invalid &&
                    resetPasswordForm.get('newPassword')?.touched
                  "
                  [type]="hideNewPassword() ? 'password' : 'text'"
                />
                <button
                  mat-icon-button
                  type="button"
                  matSuffix
                  (click)="togglePasswordVisibility('new')"
                >
                  <mat-icon>{{
                    hideNewPassword() ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
                @if(resetPasswordForm.get('newPassword')?.hasError('required'))
                {
                <mat-error style="font-size: 12px">
                  {{ "NewPasswordRequired" | translate }}
                </mat-error>
                }
              </mat-form-field>
              <mat-form-field class="w-100" appearance="outline">
                <mat-label style="font-size: 14px">{{
                  "RepeatPassword" | translate
                }}</mat-label>
                <input
                  matInput
                  type="password"
                  required
                  formControlName="repeatPassword"
                  [class.is-invalid]="
                    resetPasswordForm.get('repeatPassword')?.invalid &&
                    resetPasswordForm.get('repeatPassword')?.touched
                  "
                  [type]="hideRepeatPassword() ? 'password' : 'text'"
                />
                <button
                  mat-icon-button
                  type="button"
                  matSuffix
                  (click)="togglePasswordVisibility('repeat')"
                >
                  <mat-icon>{{
                    hideRepeatPassword() ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
                @if(resetPasswordForm.get('repeatPassword')?.hasError('required'))
                {
                <mat-error style="font-size: 12px">
                  {{ "RepeatPasswordRequired" | translate }}
                </mat-error>
                }
              </mat-form-field>
              <button
                mat-raised-button
                color="primary"
                class="w-100 p-20"
                [disabled]="loadingBtn().valueOf()"
                type="button"
                (click)="btnResetPassword()"
              >
                @if (loadingBtn()) {
                <mat-spinner diameter="24"></mat-spinner>
                }@else {
                {{ "Confirm" | translate }}
                }
              </button>

              <span
                class="d-flex text-left my-4 text-muted justify-content-center"
              >
                {{ "Sign.OrSignInWith" | translate }}
              </span>

              <div class="social-login">
                <div class="d-flex w-100">
                  <button
                    (click)="btnLoginGoogle()"
                    type="button"
                    class="flex w-100 rounded border border-gray-600 bg-white p-2 shadow transition"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      x="0px"
                      y="0px"
                      width="36"
                      height="36"
                      viewBox="0 0 48 48"
                      class="me-2"
                    >
                      <path
                        fill="#FFC107"
                        d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"
                      ></path>
                      <path
                        fill="#FF3D00"
                        d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"
                      ></path>
                      <path
                        fill="#4CAF50"
                        d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"
                      ></path>
                      <path
                        fill="#1976D2"
                        d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"
                      ></path>
                    </svg>
                    <span class="fs-14 text-gray-700">{{
                      "Sign.LoginWithGoogle" | translate
                    }}</span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
}@loading {
<div class="preloader-wrapper">
  <div class="preloader"></div>
</div>
}
